.analytics {
  padding-top: 43px;
  padding-bottom: 45px;
  background-color: #f2f0e1;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @include media(msp) {
    padding-bottom: 300px;
  }
}

.analytics__inner {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -112px;
    left: calc(50% + 23px);
    transform: translateX(-50%);
    width: 460px;
    height: 460px;
    pointer-events: none;
    background-image: url(../images/bg/wood-circle.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -1;

    @include media(mtp) {
      left: unset;
      right: -70px;
      transform: none;
    }

    @include media(msp) {
      bottom: unset;
      top: calc(100% + 20px);
      right: 50%;
      transform: translateX(50%);
      width: 380px;
      height: 380px;
    }
  }
}

.analytics__heading {
  @include numTitle;
  margin-bottom: 50px;
  text-align: left;
}

.analytics__list {
  @include listReset;
}

.analytics__item {
  width: 370px;
  position: relative;

  @include media(mtp) {
    margin-bottom: 30px;
  }

  @include media(msp) {
    width: auto;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 4;

    @include media(mtp) {
      content: none;
    }
  }

  &--timeManagement {

    @include media(mtp) {
      max-width: 610px;
    }

    &::before {
      width: 103px;
      height: 34px;
      top: 80px;
      right: -55px;
      background-image: url(../images/wood-arrow-1.png);
    }
  }

  &--crm {
    position: absolute;
    top: 90px;
    right: -30px;

    @include media(mtp) {
      position: static;
    }

    &::before {
      width: 130px;
      height: 108px;
      bottom: -20px;
      left: -160px;
      background-image: url(../images/wood-arrow-2.png);
    }
  }

  &--roistat {
    position: absolute;
    bottom: 94px;
    right: -110px;

    @include media(mtl) {
      right: -40px;
    }

    @include media(mtp) {
      position: static;
    }

    &::before {
      width: 92px;
      height: 21px;
      bottom: 40px;
      left: -110px;
      background-image: url(../images/wood-arrow-3.png);
    }
  }
}

.analytics__title {
  font-size: 27px;
  margin-bottom: 5px;
  line-height: 1.2;
  font-weight: 600;
}

.analytics__body {
  line-height: 1.4375;
}

.analytics__button {
  margin-top: 31px;
  font-size: 22px;

  span {
    padding: 21px 37px;
  }
}
