.block {
}

.block__inner {
  @include grid;
}

.block__heading {
  font-size: 55px;
  margin-bottom: 25px;
  font-weight: 900;
  line-height: 1.1;

  @include media(mtl) {
    font-size: 50px;
  }

  @include media(mtp) {
    font-size: 44px;
  }

  @include media(msp) {
    font-size: 30px;
  }
}
