@mixin quote {
  display: block;
  position: absolute;
  font-family: $fontItalic;
  font-style: italic;
  font-size: 224px;
  line-height: 1;
  color: hsl(0, 0%, 87%);

  @include media(mtp) {
    font-size: 140px;
  }
}

.blockquote {
  position: relative;
  font-family: $fontItalic;
  font-style: italic;
  text-align: center;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 0;

  @include media(mtl) {
    margin-left: auto;
  }

  @include media(mtp) {
    width: 470px;
    padding-left:60px;
    padding-right:60px;
  }

  @include media(msl) {
    margin-top: -90px;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  &::before {
    content: '“';
    @include quote;
    top: -8px;
    left: -16px;

  }

  &::after {
    content: '„';
    @include quote;
    bottom: 87px;
    right: -30px;
  }

  &--dima {
    font-family: $fontText;
    font-style: normal;
    margin-left: 0;
    margin-right: 0;

    @include media(msp) {
      margin-top: -30px;
    }

    &::before {
      top: -54px;
      left: 14px;

      @include media(msp) {
        top: -64px;
        left: -20px;
      }
    }

    &::after {
      bottom: 97px;
      right: 10px;

      @include media(msp) {
        bottom: 67px;
      }
    }

    .blockquote__body {
      margin-bottom: 47px;
    }
  }
}

.blockquote__num {
  font-size: 190px;
  font-weight: 900;
  font-style: normal;
  line-height: 1;
  margin-bottom: 32px;

  @include media(mtl) {
    font-size: 140px;
  }

  @include media(mtp) {
    font-size: 110px;
  }

  @include media(msl) {
    font-size: 80px;
  }
}

.blockquote__title {
  font-size: 32px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 10px;

  @include media(mtp) {
    font-size: 26px;
  }
}

.blockquote__body {
  font-size: 18px;
  margin-bottom: 65px;
  line-height: 1.55556;

  @include media(mtl) {
    font-size: 16px;
  }

  @include media(msp) {
    font-size: 16px;
    margin-bottom: 35px;
  }
}

.blockquote__name {
  font-family: $fontText;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
}

.blockquote__post {
  font-size: 14px;
  font-family: $fontText;
  font-style: normal;
  color: hsl(0, 0%, 83%);

  @include media(mtp) {
    font-weight: 400;
  }
}