.businessBranches {
  text-align: center;
  padding-bottom: 100px;
  position: relative;
}

.businessBranches__inner {
}

.businessBranches__heading {
  margin-top: -100px;
  margin-bottom: 30px;

  @include media(mtl) {
    margin-top: -60px;
    font-size: 40px;
    margin-bottom: 20px;
  }

  @include media(mtp) {
    margin-top: -70px;
  }

  @include media(msp) {
    margin-top: -50px;
  }

  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1.81em;
    height: 1.81em;
    font-size: 210px;
    line-height: 1;
    font-weight: 900;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: -90px;
    background-image: url(../images/10-circles.png);
    background-position: center 23px;
    background-repeat: no-repeat;

    @include media(mtl) {
      font-size: 90px;
      background-size: 130px auto;
      background-position-y: 5px;
      margin-bottom: -50px;
    }

    @include media(mtp) {
      font-size: 110px;
      width: 250px;
      height: 250px;
      margin-bottom: -70px;
    }

    @include media(msp) {
      font-size: 80px;
      width: 190px;
      height: 190px;
      margin-bottom: -60px;
      background-size: 140px auto;
    }
  }

  em {
    display: block;
    font-weight: 400;
    font-size: 0.8em;
  }
}

.businessBranches__dscr {
  font-size: 18px;
  max-width: 34em;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  @include media(mtl) {
    margin-bottom: -20px;
  }

  @include media(mtp) {
    margin-bottom: 0;
  }
}

.businessBranches__list {
  @include listReset;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

.businessBranches__item {
  margin-bottom: 18px;
  flex-basis: 18%;
  flex-shrink: 0;

  @include media(mtl) {
    margin-bottom: 10px;
  }
}

.businessBranches__image {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;

  @include media(mtl) {
    width: 140px;
    height: 140px;
  }

  @include media(msp) {
    width: 140px;
    height: 140px;
  }

  img {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.businessBranches__body {
  @include media(msp) {
    font-size: 14px;
  }
}
