.calculator {
  padding-top: 46px;
  padding-left: 60px;

  @include media(mtl) {
    padding-top: 10px;
    padding-right: 30px;
  }

  @include media(mtp) {
    padding-left: 0;
    padding-right: 10px;
  }
}

.calculator__title {
  font-size: 36px;
  font-weight: 900;
  line-height: 1.1111;
  margin-bottom: 15px;
  padding-right: 5px;

  @include media(mtl) {
    font-size: 28px;
    margin-bottom: 10px;
  }

  @include media(msp) {
    font-size: 26px;
  }
}

.calculator__subtitle {
  font-family: $fontItalic;
  font-style: italic;
  font-size: 23px;
  line-height: 1.2;
  margin-bottom: 40px;

  @include media(mtl) {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.calculator__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 45px;

  @include media(mtl) {
    margin-bottom: 20px;
  }
}

.calculator__label {
  font-size: 20px;
  font-weight: 600;
  margin-right: 6px;

  @include media(mtl) {
    font-size: 16px;
  }
}

.calculator__value {
  font-size: 18px;
}

.calculator__range {
  width: 100%;
  margin-top: 30px;

  @include media(mtl) {
    margin-top: 15px;
  }

  @include media(mtp) {
    width: calc(100% - 100px);
    margin-right: 100px;
  }

  @include media(msp) {
    width: calc(100% - 20px);
    margin-right: 10px;
    margin-left: 10px;
  }
}

.calculator__footer {
  font-size: 20px;
  margin-bottom: 35px;
  font-weight: 600;

  @include media(mtl) {
    margin-bottom: 10px;
  }

  em {
    display: block;
    font-size: 43px;
    font-weight: 400;
    line-height: 1;

    span {
      font-size: 23px;
      margin-left: 0.6em;
    }
  }
}

.calculator__button {
  font-size: 22px;

  @include media(msp) {
    font-size: 16px;
  }

  span {
    padding: 22px 41px;

    @include media(msp) {
      padding: 17px 33px;
    }
  }
}

.calculator__result {
  display: inline-block;
}


html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
  right: -29px;
}

.noUi-target {
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: 11px;
  background-color: hsl(0, 0%, 83%);

  @include media(mtp) {
    height: 8px;
  }
}

.noUi-connect {
  background-color: hsl(32, 90%, 72%);
}

.noUi-horizontal .noUi-handle {
  width: 65px;
  height: 65px;
  top: -22px;
  background-size: contain;

  @include media(mtl) {
    top: -17px;
    width: 50px;
    height: 50px;
  }

  @include media(mtp) {

  }
}

.noUi-handle {
  border: none;
  border-radius: 50%;
  background-image: url(../images/coin-range.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  box-shadow: none;

  &::before,
  &::after {
    content: none;
  }
}