.caseFull {
  margin: 50px auto;
  width: 1020px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: $shadow-modal;
  position: relative;

  @include media(mtp) {
    width: auto;
    max-width: 97%;
  }

  .mfp-close {
    box-shadow: none;
    background-color: transparent;
  }

  &.mfp-hide {
    display: block !important;
    position: fixed;
    visibility: hidden;
  }
}

.caseFull__inner {
  display: flex;
  justify-content: space-between;

  @include media(mtp) {
    padding-left: 0;
    padding-right: 0;
  }
}

.caseFull__main {
  padding: 55px 80px 70px;
  box-sizing: border-box;

  @include media(mtp) {
    padding: 40px 40px 50px;
  }

  @include media(msp) {
    padding: 20px 20px 30px;
  }
}

.caseFull__caseSidebar {
  width: 350px;
  flex-shrink: 0;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 96%);

  @include media(mtp) {
    width: 250px;
  }

  @include media(msp) {
    display: none;
  }
}

.caseFull__heading {
  font-size: 36px;
  line-height: 1;

  @include media(msp) {
    font-size: 20px;
  }
}

.caseFull__dscr {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 60px;

  @include media(msp) {
    font-size: 16px;
  }

  ul {
    @include listReset;
    li {
      @include addBullet {
        background-color: $colorStyle;
      }

      margin-bottom: 10px;
    }
  }
}

.caseFull__caseList {
}