@mixin number {
  display: block;
  flex-shrink: 0;
  font-family: $fontItalic;
  font-style: italic;
  font-size: 67px;
  line-height: 1;
  width: 85px;
  margin-top: -20px;
  color: $colorStyle;

  @include media(msp) {
    font-size: 46px;
    width: 100%;
    margin-bottom: 10px;
  }
}

.caseList {
  margin-bottom: 90px;

  &:last-child {
    margin-bottom: 0;
  }
}

.caseList__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 30px;

  @include media(msp) {
    font-size: 20px;
  }
}

.caseList__list {
  @include listReset;

  &.nojs {
    counter-reset: num;

    .caseList__row {

      &::before {
        content: counter(num);
        counter-increment: num;
        @include number();
      }

    }

  }

}

.caseList__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 30px;
}

.caseList__number {
  @include number();
}

.caseList__text {
  flex-grow: 1;
  flex-basis: calc(100% - 90px);
  font-size: 18px;
  line-height: 1.2;

  @include media(msp) {
    font-size: 16px;
  }
}

.caseList__images {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;

  img {
    box-shadow: $shadow-image;
  }

  // когда 2 изображения
  img:nth-last-child(2):first-child ~ img,
  img:nth-last-child(2):first-child {
    lost-column: 1/2 2 20px;
  }

  // когда 3 изображения
  img:nth-last-child(3):first-child ~ img,
  img:nth-last-child(3):first-child {
    lost-column: 1/3 3 15px;
  }

  // когда 4 изображения
  img:nth-last-child(4):first-child ~ img,
  img:nth-last-child(4):first-child {
    lost-column: 1/4 4 5px;
    box-shadow: none;
  }

}

.caseList__gallery {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-bottom: 5px;
}

.caseList__videos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 40px;
}

.caseList__video {
  margin-bottom: 5px;
  width: 100%;

  &:first-child {
    width: 100%;
  }
  &:nth-child(2) ~ &,
  &:nth-child(2) {
    lost-column: 1/2 3 5px;
  }

}