.cases {
}

.cases__inner {
}

.cases__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cases__arrows {
}

.cases__arrow {
}

.cases__slider {
}