.caseSidebar {
  padding: 55px 100px 70px 45px;

  @include media(mtp) {
    padding: 50px 30px 50px;
  }
}

.caseSidebar__logo {
  margin-bottom: 60px;

  @include media(mtl) {
    margin-bottom: 30px;
  }

}

.caseSidebar__achievement {
  margin-bottom: 40px;

  @include media(mtl) {
    margin-bottom: 20px;
  }
}

.caseSidebar__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 5px;
  border-bottom: 2px solid;

  @include media(mtl) {
    font-size: 18px;
    padding-bottom: 2px;
  }
}

.caseSidebar__row {
}

.caseSidebar__label {
  margin-top: 15px;
  font-size: 15px;
  line-height: 1;

  @include media(mtl) {
    margin-top: 10px;
    font-size: 14px;
  }
}

.caseSidebar__text {
  font-size: 13px;
  margin-bottom: 5px;

  @include media(mtl) {
    margin-bottom: 0;
    font-size: 12px;
  }
}

.caseSidebar__bar {
  width: 0%;
  height: 25px;
  background-color: hsl(0, 0%, 76%);
  font-size: 0;
  color: transparent;
  transition-duration: 0.5s;
  transition-delay: 0.2s;

  @include media(mtl) {
    height: 15px;
  }

  &.nojs {
    display: none;
  }

  &--dyed {
    background-color: $colorStyle;
  }
}