.clientStream {
  padding-top: 0;
  padding-bottom: 0;
  background-color: hsl(218, 20%, 8%);
  color: #fff;
  text-align: center;
  position: relative;

  @include media(msp) {
    background-image: url(../images/clients/bg-advertising.jpg);
    background-image: url(../images/clients/bg-seo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-shadow: 1px 2px 4px hsla(0, 0%, 0%, 0.5);
  }

  &.nojs {

  }
}

.clientStream__inner {
  @include disable-grid;
}

.clientStream__heading {
  @include numTitle;

  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 280px;
  z-index: 3;

  @include media(mtl) {
    margin-bottom: 170px;
  }

  @include media(mtp) {
    margin-bottom: 130px;
    text-shadow: 1px 2px 4px hsla(0, 0%, 0%, 0.5);
  }

  @include media(msp) {
    margin-bottom: 70px;
    width: 100%;
  }
}

.clientStream__list {
  @include listReset;
  display: flex;
  justify-content: center;
  position: relative;
  width: calc(100% + 100px);
  left: 50%;
  transform: translateX(-50%);

  @include media(msp) {
    display: block;
    width: 100%;
  }
}

.clientStream__item {
  $hoverWidthDiff: 100px;
  $itemPadding: 25px;
  //$sideItemWidth: $md / 3 - $itemPadding * 2;
  $sideItemPadding: '(100% - #{$md}) / 2 + #{$itemPadding}';
  //$sideItemWidth: calc(#{$md} / 3 + (100% - #{$md}) / 2);

  //width: $sideItemWidth;
  box-sizing: content-box;
  padding: 390px 0 180px;
  position: relative;
  transition-duration: 0.3s;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  @include media(mtl) {
    padding: 280px 0 150px;
  }

  @include media(msp) {
    width: 100%;
    padding: 40px 0 50px;
  }

  &::before {
    //content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include media(msp) {
      content: none;
    }
  }

  &:nth-child(1) {
    padding-left: calc(#{$sideItemPadding});
    background-image: url(../images/clients/bg-advertising.jpg);
    background-position: calc(50% + 70px) -166px;

    @include media(msp) {
      padding-top: 230px;
    }

    &:hover {
      @include media(mtp-up) {
        padding-left: calc(#{$sideItemPadding} + 160px);
        padding-right: $itemPadding + $hoverWidthDiff;
      }
    }
  }

  &:nth-child(2) {

    background-image: url(../images/clients/bg-seo.jpg);
    background-size: 1100px auto;

    &:hover {
      @include media(mtp-up) {
        padding-left: $itemPadding + $hoverWidthDiff;
        padding-right: $itemPadding + $hoverWidthDiff;
      }
    }

  }

  &:nth-child(3) {
    padding-right: calc(#{$sideItemPadding});
    background-image: url(../images/clients/bg-funnels.jpg);
    background-position-x: calc(100% + 145px);

    @include media(msp) {
      padding-bottom: 140px;
    }

    &:hover {

      @include media(mtp-up) {
        padding-right: calc(#{$sideItemPadding} + 160px);
        padding-left: $itemPadding + $hoverWidthDiff;
        background-position-x: calc(100%)
      }

    }

  }
}

.clientStream__content {
  $padding: 25px;
  width: $md / 3;
  box-sizing: border-box;
  padding: 0 $padding;

  @include media(mtp) {
    width: 33.3333vw;
  }

  @include media(msp) {
    width: 100%;
  }
}

.clientStream__title {
  position: relative;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 27px;
  line-height: 1.2;
  z-index: 3;

  @include media(mtp) {
    font-size: 22px;
  }
}

.clientStream__body {
  position: relative;
  line-height: 1.4375;
  z-index: 3;

  @include media(mtp) {
    font-size: 14px;
  }
}

.clientStream__advCompanies {
  position: relative;
  margin-top: 20px;

  img {
    width: auto;
    margin-left: auto;
    margin-right: auto;

    @include media(mtp) {
      width: 100%;
    }
  }
}

.clientStream__button {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;

  @include media(msp) {
    white-space: nowrap;
    font-size: 16px;
  }

  span {
    padding-left: 43px;
    padding-right: 43px;

    @include media(msp) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
