@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display Bold Italic'), local('PlayfairDisplay-BoldItalic'),
    url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
    url('../fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'),
    url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Italic.woff') format('woff'),
    url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display Black Italic'), local('PlayfairDisplay-BlackItalic'),
    url('../fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BlackItalic.woff') format('woff'),
    url('../fonts/PlayfairDisplay-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfairdisplay-black.woff2') format('woff2'),
    url('../fonts/playfairdisplay-black.woff') format('woff'),
    url('../fonts/playfairdisplay-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Solomon Sans';
    src: local('Solomon Sans Bold'), local('Solomon-Sans-Bold'),
    url('../fonts/Solomon-Sans-Bold.woff2') format('woff2'),
    url('../fonts/Solomon-Sans-Bold.woff') format('woff'),
    url('../fonts/Solomon-Sans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Solomon Sans Normal';
    src: local('Solomon Sans Normal'), local('Solomon-Sans-Normal'),
    url('../fonts/Solomon-Sans-Normal.woff2') format('woff2'),
    url('../fonts/Solomon-Sans-Normal.woff') format('woff'),
    url('../fonts/Solomon-Sans-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Solomon Sans';
    src: local('Solomon Sans Black'), local('Solomon-Sans-Black'),
    url('../fonts/Solomon-Sans-Black.woff2') format('woff2'),
    url('../fonts/Solomon-Sans-Black.woff') format('woff'),
    url('../fonts/Solomon-Sans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Solomon Sans';
    src: local('Solomon Sans SemiBold'), local('Solomon-Sans-SemiBold'),
    url('../fonts/Solomon-Sans-SemiBold.woff2') format('woff2'),
    url('../fonts/Solomon-Sans-SemiBold.woff') format('woff'),
    url('../fonts/Solomon-Sans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}



