@mixin checkboxIcon {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.form {

  &--modal {

    .form__main,
    .form__weaknesses {
      padding-top: 20px;
    }

    .form__subtitle {
      margin-bottom: 30px;
    }

    .form__item {
      margin-bottom: 22px;

      &--checkbox {
        margin-bottom: 13px;
      }
    }

    .form__button {
      text-align: center;
    }
  }

  &--questionList {
    display: flex;
    justify-content: space-between;

    @include media(msp) {
      display: block;
    }
  }
}

.form__weaknesses {}

.form__listTitle {
  font-size: 27px;
  line-height: 1.2;
  margin-bottom: 18px;
  max-width: 20em;

  @include media(mtl) {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .dyed {
    color: $colorStyle;
  }
}

.form__checkbox {
  display: none;

  & + .form__label {
    padding-left: 30px;
    position: relative;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 0;

    @include media(mtl) {
      font-size: 16px;
    }

    &::before {
      @include checkboxIcon;
      background-image: url(../images/checkbox.png);
     
    }

    &::after {
      @include checkboxIcon;
      background-image: url(../images/checkbox-checked.png);
      top: -2px;
      left: 3px;
      opacity: 0;
      transition-duration: 0.3s;
    }
  }
  
  &:checked + .form__label::after {
    opacity: 1;
  }
}

.form__main {
  width: 368px;
  box-sizing: content-box;
  padding-left: 70px;
  box-shadow: $shadow;

  @include media(mtp) {
    width: 460px;
    padding-left: 20px;
  }

  @include media(msp) {
    width: auto;
    box-shadow: none;
    padding-left: 0;
    margin-top: 40px;
  }
}

.form__title {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 3px;
}

.form__subtitle {
  font-family: $fontItalic;
  font-style: italic;
  font-size: 23px;
  margin-bottom: 20px;

  @include media(mtl) {
    margin-bottom: 10px;
  }
}

.form__item {
  margin-bottom: 22px;

  @include media(mtl) {
    margin-bottom: 13px;
  }

  @include media(msp) {
    margin-bottom: 20px;
  }

  &--checkbox {
    margin-bottom: 14px;

    @include media(mtl) {
      margin-bottom: 10px;
    }
  }
}

.form__actions {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.form__input {
  display: block;
  width: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: inset 2px 4px 10px 0 hsla(0, 0%, 0%, 0.2);
  background-color: hsl(0, 0%, 94%);
  line-height: 1;
  color: $colorText;
  font-size: 20px;
  padding: 11px 23px;
  box-sizing: border-box;
  font-weight: 500;
  @include media(msp) {
    font-size: 16px;
    padding: 18px 18px;
  }
  &::placeholder {
    color: hsla(0, 0%, 8%, 0.2);
  }
}

.form__label {
  line-height: 1;
  margin-bottom: 14px;
  display: block;
  font-size: 19px;
  font-weight: 600;

  @include media(mtl) {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

.form__button {
  margin-top: 13px;
  font-size: 22px;

  @include media(msp) {
    font-size: 16px;
  }

  span {
    padding: 19px 43px;

    @include media(msp) {
      padding: 19px 30px;
      text-align: center;
    }
  }
}

.form__submit {
  @include media(msp) {
    font-size: 18px;
  }
  span {
    padding: 25px 52px;
    @include media(msp) {
      padding: 20px 33px;
    }
  }
}

.form__text {
  text-align: center;
  font-size: 14px;
  color: hsl(0, 0%, 53%);
  @include media(msp) {
    font-size: 12px;
  }
  a {
    color: inherit;
    text-decoration-color: hsla(0, 0%, 53%, 0.3);
    &:hover {
      text-decoration: none;
    }
  }
}

//input[type="checkbox"] {
//  display: none;
//  &:checked + label:before {
//    width: 26px;
//    height: 13px;
//    border-top-style: none;
//    border-right-style: none;
//    top: 50%;
//    transform: translateY(-50%) rotate(-45deg);
//    transform-origin: 50% 50%;
//  }
//  & + label {
//    position: relative;
//    padding-left: 40px;
//    display: block;
//    cursor: pointer;
//    &:before {
//      content: "";
//      width: 25px;
//      height: 25px;
//      border: 3px solid $colorStyle;
//      box-sizing: border-box;
//      position: absolute;
//      left: 0;
//      transition: all 0.3s ease-in-out;
//      top: 50%;
//      transform: translateY(-50%)
//    }
//  }
//}