.gallery {

  &.nojs {

    .gallery__main {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    .gallery__item {
      display: block;
      lost-column: 1/6 6 5px;
      margin-bottom: 5px;
    }

    .gallery__thumbnail {
      display: none;
    }

  }
}

.gallery__main {
  margin-bottom: 10px;
}

.gallery__item {}

.gallery__thumbnail {
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  img {
    lost-column: 1/10 10 5px;
    margin-bottom: 5px;
    cursor: pointer;
    box-sizing: border-box;
    transition: none !important;

    @include media(mtp) {
      lost-column: 1/6 6 5px;
    }

    @include media(msp) {
      lost-column: 1/5 5 5px;
    }

    &.tns-nav-active {
      outline: 2px solid $colorStyle;
    }
  }
}
