.goodsSearch {

}

.goodsSearch__inner {
}

.goodsSearch__heading {
  text-align: center;
  margin-bottom: 31px;

  @include media(mtl) {
    font-size: 40px;
    margin-bottom: 20px;
  }

  @include media(mtp) {
    font-size: 40px;
  }

  @include media(msp) {
    font-size: 28px;
  }

  em {
    display: block;
    font-weight: 400;
    font-size: 0.85455em;
  }
}

.goodsSearch__content {
  display: flex;
  justify-content: space-between;

  @include media(mtp) {
    display: block;
  }
}

.goodsSearch__main {
  padding-right: 70px;
  box-sizing: border-box;

  @include media(mtl) {
    width: 50%;
    padding-right: 30px;
  }

  @include media(mtp) {
    width: 100%;
    padding-right: 0;
    margin-bottom: 50px;
  }
}

.goodsSearch__calculator {
  width: 480px;
  flex-shrink: 0;
  box-sizing: border-box;
  box-shadow: $shadow;
  padding-bottom: 140px;

  @include media(mtl) {
    width: 50%;
  }

  @include media(mtp) {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
  }

  @include media(msp) {
    width: auto;
    padding-bottom: 90px;
  }
}

.goodsSearch__list {
  @include listReset;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-wrap: wrap;
  margin-bottom: 44px;

  @include media(msp) {
    display: block;
  }
}

.goodsSearch__item {
  flex-basis: 47%;
  flex-shrink: 0;
  margin-bottom: 12px;

  @include media(mtl) {
    flex-basis: 45%;
  }

  @include media(msp) {
    margin-bottom: 50px;
  }
}

.goodsSearch__image {
  height: 177px;
  margin-bottom: 30px;
  display: flex;

  @include media(mtl) {
    height: 90px;
    margin-bottom: 10px;
  }

  @include media(msp) {
    height: auto;
  }

  img {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: auto;

    @include media(mtl) {
      width: auto;
      max-width: 100%;
      max-height: 100%;
    }

    @include media(mtp) {
      width: auto;
    }
  }
}

.goodsSearch__body {
  font-size: 18px;
  padding-left: 20px;
  position: relative;
  line-height: 1.2;

  @include media(mtl) {
    font-size: 14px;
  }

  @include media(mtp) {
    font-size: 16px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 11px;
    left: 0;
    width: 12px;
    height: 1px;
    background-color: $colorText;
  }
}

.goodsSearch__bottomText {
  display: flex;
  align-items: center;
  font-family: $fontItalic;
  font-style: italic;

  @include media(mtp) {
    max-width: 70%;
  }

  @include media(msp) {
    display: block;
    max-width: unset;
  }
}

.goodsSearch__num {
  font-size: 94px;
  margin-right: 50px;
  flex-shrink: 0;
  opacity: 0.3;
  line-height: 1;

  @include media(mtl) {
    font-size: 60px;
  }

  @include media(msp) {
    margin-bottom: 15px;
  }
}

.goodsSearch__text {
  font-size: 23px;
  line-height: 1.347826;

  @include media(mtl) {
    font-size: 18px;
  }
}