.loyalty {
  padding-top: 54px;
  padding-bottom: 338px;
  background-color: hsl(206, 18%, 8%);
  background-image: url(../images/bg/open-book.jpg);
  background-repeat: no-repeat;
  background-position: center 100%;
  color: #fff;

  @include media(mtp) {
    background-size: 100% auto;
    padding-bottom: 33vw;
  }
}

.loyalty__inner {
  display: flex;
  justify-content: space-between;

  @include media(msp) {
    display: block;
  }
}

.loyalty__main {
  width: 40%;

  @include media(msp) {
    width: auto;
  }
}

.loyalty__heading {
  @include numTitle;
  text-align: left;
  margin-bottom: 16px;
}

.loyalty__dscr {
  font-size: 22px;
  line-height: 1.36364;
  font-family: $fontItalic;
  font-style: italic;
  margin-bottom: 30px;
  max-width: 30em;
  position: relative;

  @include media(mtp) {
    font-size: 16px;
  }

  &::after {
    content: url(../images/b7-arrow.png);
    display: block;
    pointer-events: none;
    position: absolute;
    bottom: -81px;
    right: -21px;

    @include media(msp) {
      content: none;
    }
  }
}

.loyalty__button {
  font-size: 22px;

  @include media(mtp) {
    font-size: 18px;
  }

  span {
    padding: 22px 37px;
  }
}

.loyalty__list {
  @include listReset;
  display: flex;
  justify-content: space-between;
  width: 54%;
  padding-top: 97px;

  @include media(msp) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.loyalty__item {
  position: relative;
  text-align: center;
  width: 30%;
  line-height: 1.2;

  @include media(mtp) {
    font-size: 14px;
  }

  @include media(msp) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 40px;
    font-size: 16px;
  }

  &::before {
    content: '';
    display: block;
    width: 168px;
    height: 168px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include media(mtp) {
      width: 80px;
      height: 80px;
    }
  }

  &--bow::before {
    background-image: url(../images/bow.png);
    background-size: 148px;
    background-position-y: 0;

    @include media(mtp) {
      background-size: 80px;
    }
  }
  &--unicorn::before {
    background-image: url(../images/unicorn.png);
  }
  &--castle::before {
    background-image: url(../images/castle.png);
  }
}
