body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: $fontText;
  color: $colorText;
  font-weight: 300;
}

.page-content {
  background-position-y: 35%;
  background-repeat: no-repeat;
  overflow: hidden;
}

* {
  outline: none;
}

a {
  display: inline-block;
  color: $colorStyle;
  &:hover {
    text-decoration: underline;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

em {
  font-family:  $fontItalic;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontTitle;
  font-weight: 900;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1.5em;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

.imgReplace {
  display: block;
  font-size: 0;
  color: transparent;
  width: 822px;
  transform: translateX(-3.8%);
  margin-top: 10px;
  margin-bottom: -55px;

  @include media(mtl) {
    width: 640px;
  }

  @include media(mtp) {
    width: 540px;
    margin-bottom: -45px;
  }

  @include media(msl) {
    width: 330px;
    margin-bottom: -30px;
  }

  &__inner {
    display: block;
    background-image: url(../images/titer-packing.png);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 100% auto;
    padding-left: 100%;
    padding-bottom: 21.4112%;
  }
}

.hidden{
  opacity: 0 !important;
}

.visible{
  opacity: 1 !important;
}

.phone {
  color: inherit;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  cursor: default;

  &:hover {
    text-decoration: none;
  }
}

