.marselSay {
  padding-top: 125px;
  padding-bottom: 223px;

  @include media(mtp) {
    padding-top: 70px;
    padding-bottom: 150px;
  }

  @include media(msp) {
    padding-top: 30px;
    padding-bottom: 100px;
  }
}

.marselSay__inner {
  position: relative;

  @include media(mtl) {
    position: relative;
  }

  @include media(msl) {
    display: block;
  }
}

.marselSay__blockquote {
  width: 575px;
  margin-left: auto;

  @include media(mtp) {
    width: 470px;
  }

  @include media(msl) {
    margin-top: -90px;
    max-width: 100%;
  }
}

.marselSay__image {
  position: absolute;
  top: -15px;
  left: -41px;

  @include media(mtl) {
    width: 600px;
    left: -50px;
  }

  @include media(mtp) {
    width: 500px;
    left: -140px;
  }

  @include media(msl) {
    position: static;
    margin-left: -140px;
    width: 360px;
  }
}
