@mixin imageDown {
  position: relative;

  &::after {
    display: block;
    @content;
  }
}

.position {
  padding-top: 94px;
  padding-bottom: 66px;

  @include media(mtp) {
    padding-top: 50px;
  }

  @include media(msp) {
    padding-bottom: 10px;
  }
}

.position__inner {
  position: relative;
}

.position__heading {
  @include numTitle;
  margin-bottom: 95px;

  @include media(mtp) {
    margin-bottom: 70px;
  }
}

.position__main {
  display: flex;
  justify-content: space-between;

  @include media(mtp) {
    display: block;
  }
}

.position__result {
  width: 610px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  background-image: url(../images/border.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 0;
  padding: 110px 80px 65px 94px;
  position: relative;
  line-height: 1.5556;
  font-size: 18px;

  @include media(mtp) {
    width: 560px;
    margin-right: 0;
    font-size: 14px;
    background-size: 100% 100%;
  }

  @include media(msp) {
    width: auto;
    margin-left: -10px;
    margin-right: -10px;
    box-sizing: border-box;
    padding: 100px 20px 35px 20px;
    background-size: auto 100%;
  }

  h3 {
    font-size: 39px;
    margin-bottom: 10px;
    line-height: 1.1;

    @include media(mtp) {
      font-size: 26px;
    }
  }

  em {
    font-size: 1.2222em;
    line-height: 1.3636;
  }

  &::after {
    $ratio: 453px / 411px;
    content: '';
    display: block;
    position: absolute;
    top: 75px;
    right: -318px;
    background-image: url(../images/blazon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 411px;
    height: 411px * $ratio;

    @include media(mtp) {
      content: none;
    }
  }
}

.position__whatOffer {
  width: 50%;
  box-sizing: border-box;
  padding-left: 53px;

  @include imageDown {
    content: url("../images/people-1.png");
    margin-top: 60px;
    transform: translateX(-20px);

    @include media(msp) {
      margin-top: 10px;
      transform: translateX(-40px) scale(0.8);
    }
  }

  @include media(mtp) {
    margin-bottom: 30px;
  }

  @include media(msp) {
    padding-left: 0;
    width: auto;
  }
}

.position__whatAdvantages {
  width: 50%;
  position: relative;
  box-sizing: border-box;
  padding-left: 78px;
  box-shadow: $shadow;

  @include media(mtp) {
    margin-bottom: 40px;
  }

  @include media(msp) {
    width: auto;
    padding-left: 0;
    box-shadow: none;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 30px;
    bottom: -40px;
    width: 79px;
    height: 297px;
    background-image: url(../images/b6-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;

    @include media(mtp) {
      content: none;
    }
  }

  @include imageDown {
    content: url("../images/knights.png");
    margin-top: -70px;
    margin-left: -15px;

    @include media(msp) {
      margin-top: 10px;
      margin-left: -235px;
    }
  }
}

.position__subtitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 5px;
}

.position__body {
  font-size: 18px;
  line-height: 1.2;

  ul {
    @include listReset;
    li {
      @include addBullet;
      margin-bottom: 3px;
    }
  }
}

.position__button {
  font-size: 22px;

  @include media(mtp) {
    font-size: 18px;
  }

  @include media(mtp) {
    font-size: 14px;
  }

  span {
    padding: 22px 31px;

    @include media(msp) {
      padding: 18px 20px;
    }
  }
}

.position__author {
  position: absolute;
  bottom: -15px;
  left: -50px;
  z-index: 2;

  @include media(msp) {
    position: relative;
    margin-top: 80px;
    bottom: 0;
    left: 0;
  }
}

.position__authorData {
  position: absolute;
  top: -49px;
  left: 15px;
  font-size: 14px;
}

.position__name {
  font-size: 17px;
}

.position__post {
  font-size: 14px;
  color: hsl(0, 0%, 83%);
  max-width: 13em;
}

.position__image {

  @include media(mtp) {
    width: 250px;
  }
}


