.questionsList {
  padding-top: 90px;
  padding-bottom: 55px;
  background-image: url(../images/bg/books.jpg);
  background-repeat: no-repeat;
  background-position: calc(50% - 34px) calc(100% + 70px);

  @include media(mtp) {
    background-size: 500px auto;
    padding-bottom: 170px;
  }
}

.questionsList__inner {
}

.questionsList__heading {
  text-align: center;
  margin-bottom: 59px;

  @include media(mtl) {
    margin-bottom: 40px;
  }

  em {
    display: block;
    font-weight: 400;
    font-size: 0.618182em;
  }
}

.questionsList__form {
}
