.salesDepartment {
  padding-top: 24px;
  padding-bottom: 90px;
  overflow: hidden;
}

.salesDepartment__inner {
  position: relative;
}

.salesDepartment__heading {
  @include numTitle;
  margin-bottom: 8px;
}

.salesDepartment__dscr {
  text-align: center;
  font-size: 22px;
  font-family: $fontItalic;
  font-style: italic;
  margin-bottom: 50px;

  @include media(mtl) {
    margin-bottom: 30px;
  }
}

.salesDepartment__body {
  font-size: 18px;
  line-height: 1.6667;
  max-width: 530px;

  @include media(mtl) {
    font-size: 16px;
  }

  @include media(mtp) {
    max-width: 50%;
  }

  @include media(msp) {
    max-width: unset;
  }

  h3 {
    font-size: 27px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 1.2;

    @include media(mtl) {
      font-size: 20px;
    }

    @include media(mtp) {
      font-size: 22px;
    }
  }

  ul {
    @include listReset;
    margin-bottom: 43px;

    @include media(mtl) {
      margin-bottom: 20px;
    }

    li {
      @include addBullet {
        top: 16px;
        background-color: $colorStyle;
      }
    }
  }
}

.salesDepartment__button {
  font-size: 22px;

  @include media(msp) {
    font-size: 18px;
  }

  span {
    padding: 20px 35px;
  }
}

.salesDepartment__author {
  position: absolute;
  top: 250px;
  right: -323px;

  @include media(mtp) {
    width: 600px;
    top: 330px;
    right: -250px;
  }

  @include media(mtp) {
    position: relative;
    top: 50px;
    right: 190px;
  }
}

.salesDepartment__authorData {
  position: absolute;
  top: 50px;
  left: 47%;

  @include media(mtp) {
    top: -50px;
  }

  @include media(msp) {
    top: -20px;
    //left: 110px;
  }
}

.salesDepartment__name {
}

.salesDepartment__post {
  max-width: 17em;
  opacity: 0.7;

  @include media(msp) {
    font-size: 12px;
    max-width: 13em;
  }
}

.salesDepartment__image {
}