.seriously {
  padding-top: 68px;
  padding-bottom: 140px;
  overflow: hidden;
}

.seriously__inner {
  position: relative;
  z-index: 1;

  &::before {
    content: url(../images/shield.png);
    display: block;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    top: -70px;
    right: -245px;

    @include media(mtp) {
      right: -425px;
    }

    @include media(msp) {
      opacity: 0.3;
    }
  }
}

.seriously__heading {
  margin-bottom: 15px;
  max-width: 10em;
}

.seriously__dscr {
  max-width: 31.4em;
  font-size: 18px;
  line-height: 1.55556;

  @include media(mtp) {
    max-width: 28em;
    font-size: 16px;
  }

  .dyed {
    color: $colorStyle;
  }

  p {
    margin-bottom: 0.2em;

    &:last-child {
      max-width: 27em;
    }
  }

  img {
    display: inline-block;
    width: auto;
  }

  em {
    font-size: 1.22222em;

  }
}
