.seriosPacking {
  background-image: url(../images/bg/bg-smith.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #232323;
  color: #fff;
}

.seriosPacking__inner {
  padding-top: 90px;
  padding-bottom: 226px;
  position: relative;

  @include media(mtp) {
    padding-bottom: 130px;
  }

  @include media(msp) {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  &::before {
    $ratio: 644px / 928px;
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: -50px;
    pointer-events: none;
    background-image: url(../images/bg/knight.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 928px;
    height: 928px * $ratio;

    @include media(mtp) {
      width: 750px;
      height: 750px * $ratio;
      right: -260px;
    }

    @include media(msp) {
      width: 390px;
      height: 390px * $ratio;
      right: -160px;
    }
  }
}

.seriosPacking__content {
  position: relative;

  @include media(mtp) {
    text-shadow: 1px 2px 10px #232323;
  }

}

.seriosPacking__heading {
  font-size: 52px;
  line-height: 1.2;
  max-width: 10em;

  @include media(mtp) {
    font-size: 44px;
  }

  @include media(msp) {
    font-size: 30px;
  }
}

.seriosPacking__dscr {
  font-size: 18px;
  max-width: 27em;

  @include media(mtp) {
    font-size: 16px;
  }

  @include media(msp) {
    font-size: 14px;
    max-width: 14em;
  }
}
