.sevenStages {
  padding-top: 45px;
  padding-bottom: 40px;
  background-image: url(../images/bg/old-map.png), url(../images/bg/bg-blur.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: 1450px auto, cover;
  background-position: calc(50% + 34px) 220px, center;
  background-color: #232323;
  color: #fff;
  text-align: center;
  position: relative;

  @include media(mtl) {
    background-position: calc(50% + 34px) 150px,center;
  }

  @include media(msp) {
    background-size: 1580px auto, cover;
    background-position: calc(50% + 34px) 110px, center;
  }
}

.sevenStages__inner {

}

.sevenStages__heading {
  font-size: 99px;
  margin-bottom: 113px;
  line-height: 1.2;

  @include media(mtl) {
    font-size: 60px;
    margin-bottom: 65px;
  }

  @include media(mtp) {
    font-size: 60px;
    margin-bottom: 90px;
  }

  @include media(msp) {
    font-size: 40px;
    margin-bottom: 60px;
  }

  em {
    display: block;
    font-weight: 400;
    font-size: 0.47475em;
    margin-top: -0.4em;
  }
}

.sevenStages__content {
  color: $colorText;

}

.sevenStages__dscr {
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;
  margin-bottom: 98px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;

  @include media(mtp) {
    font-size: 22px;
    margin-bottom: 70px;
  }

  @include media(msp) {
    font-size: 18px;
    margin-bottom: 50px;
  }
}

.sevenStages__list {
  @include listReset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @include media(mtp) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include media(msp) {
    margin-bottom: 15px;
  }
}

.sevenStages__item {
  //flex-shrink: 0;
  width: calc(100% / 7);
  position: relative;

  @include media(mtp) {
    width: 22%;
    transform: none !important;
    margin-bottom: 40px;
  }

  @include media(msp) {
    width: auto;
    flex-basis: 50%;

    &:nth-child(2) {
      img {
        width: 180%;
        max-width: unset;
      }
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;

    @include media(mtp) {
      content: none !important;
    }
  }

  &:nth-child(1) {
    &::after {
      content: url('../images/stage-arrow-1.png');
      top: -14px;
      right: -50px;
    }
  }
  &:nth-child(2) {
    transform: translate(8px, -63px);

    &::after {
      content: url('../images/stage-arrow-2.png');
      top: 70px;
      right: -34px;
    }
  }
  &:nth-child(3) {
    white-space: nowrap;
    transform: translate(16px, 5px);

    &::after {
      content: url('../images/stage-arrow-3.png');
      top: -27px;
      right: -63px;
    }
  }
  &:nth-child(4) {
    transform: translate(46px, -50px);

    &::after {
      content: url('../images/stage-arrow-4.png');
      top: 54px;
      right: -19px;
    }
  }
  &:nth-child(5) {
    transform: translate(41px, -10px);

    &::after {
      content: url('../images/stage-arrow-5.png');
      top: -29px;
      right: -20px;
    }
  }
  &:nth-child(6) {
    transform: translate(30px, -68px);

    &::after {
      content: url('../images/stage-arrow-6.png');
      top: 49px;
      right: -48px;
    }
  }
  &:nth-child(7) {
    transform: translate(30px, 12px);

    &::after {
      content: none;
    }
  }
}

.sevenStages__image {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;

  @include media(mtp) {
    //width: 50%;
    align-items: flex-start;
  }

  @include media(msp) {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    width: auto;
    margin-left: auto;
    margin-right: auto;

    @include media(mtp) {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.sevenStages__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;

  @include media(mtp) {
    font-size: 14px;
  }
}

.sevenStages__text {
  font-size: 20px;
  font-family: $fontItalic;
  font-style: italic;

  @include media(msp) {
    font-size: 16px;
  }
}