.shell {
  padding-top: 55px;
  padding-bottom: 145px;
  background-color: hsl(53, 40%, 92%);
  background-image: url(../images/bg/bg-shell.jpg);
  background-repeat: no-repeat;
  background-position: calc(50% + 6px) -3px;

  @include media(mtl) {
    background-position-y: -220px;
  }
}

.shell__inner {
  display: flex;
  justify-content: space-between;

  @include media(mtl) {
    align-items: flex-start;
  }

  @include media(mtp) {
    align-items: flex-start;
  }

  @include media(msp) {
    display: block;
  }
}

.shell__heading {
  @include numTitle;

  width: 410px;

  @include media(mtl) {
    font-size: 40px;
  }

  @include media(mtp) {
    width: 210px;
  }

  @include media(msp) {
    width: auto;
  }

  .num {
    font-size: 70px;
  }

}

.shell__tabSide {
  flex-basis: 50%;
  flex-shrink: 0;

  @include media(mtp) {
    flex-basis: 37%;
  }

  @include media(msp) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.shell__tabContentSide {
  width: 50%;
  margin-top: -10px;
  box-sizing: border-box;
  background-color: hsl(53, 40%, 92%);
  padding: 93px 0 92px 60px;
  position: relative;
  z-index: 3;

  @include media(mtl) {
    padding: 50px 0 30px 20px;
  }

  @include media(mtp) {
    width: 60%;
    padding: 60px 0 30px 30px;
  }

  @include media(msp) {
    width: auto;
    padding: 60px 10px 30px 10px;
    margin-left: -10px;
    margin-right: -10px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    right: -154px;
    bottom: -220px;
    left: 0;
    background-image: url(../images/border-2.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center 0;

    @include media(mtl) {
      right: -85px;
      bottom: -70px;
      background-size: 100% 100%;
    }

    @include media(mtp) {
      right: -65px;
      left: -30px;
      right: -16%;
    }
  }
}

.shell__tabNav {
}

.shell__list {
  position: relative;
  height: 687px;

  @include media(mtl) {
    height: 370px;
  }

  @include media(mtp) {
    height: auto;
  }

  @include media(msp) {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
  }
}

.shell__item {

}

.shell__row {
  display: flex;
  justify-content: space-between;

  @include media(msp) {
    display: block;
  }
}

.shell__tab {
  position: absolute;
  font-size: 20px;
  font-family: $fontItalic;
  font-style: italic;
  border: 1px solid $colorSliderNav;
  border-radius: 9px;
  box-shadow: $shadow-tab;
  padding: 6px 20px 14px 55px;
  cursor: pointer;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 8px 9px;
  appearance: none;
  text-align: left;
  line-height: 1;
  box-sizing: content-box;
  min-height: 40px;
  transition: none !important;

  @include media(mtl-only) {
    transform: translateY(-100px);
    font-size: 18px;
  }

  @include media(mtp) {
    position: static;
    display: block;
    margin-right: 10px;
    margin-bottom: 15px;
  }

  @include media(msp) {
    font-size: 16px;
    background-image: none !important;
    padding: 6px 15px 8px !important;
    min-height: unset;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border-right: 1px solid $colorSliderNav;
    border-bottom: 1px solid $colorSliderNav;
    background-color: #fff;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -7px) rotate(45deg);

    @include media(mtp) {
      content: none;
    }

  }

  &::before {
    content: url(../images/map-circle.png);
    display: block;
    position: absolute;
    left: 50%;
    top: calc(100% + 1px);
    transform: translateX(-50%);

    @include media(mtp) {
      content: none;
    }
  }

  &:hover,
  &.tns-nav-active {
    background-position-y: calc(100% - 10px);
    background-color: $colorSliderNav;
    color: #fff;

    &::after {
      background-color: $colorSliderNav;
    }
  }

  &--site {
    top: 183px;
    left: 176px;
    background-image: url(../images/web-site.png);

    @include media(mtl) {
      top: 173px;
    }
  }

  &--brand-id {
    top: 100px;
    left: 4px;
    width: 100px;
    background-image: url(../images/brand-id.png);
  }

  &--marketing-kit {
    top: 90px;
    left: 310px;
    width: 105px;
    background-image: url(../images/marketing-kit.png);
  }

  &--video {
    top: 220px;
    left: 390px;
    width: 40px;
    padding-left: 78px;
    background-image: url(../images/video.png);

    @include media(mtl) {
      top: 190px;
    }
  }

  &--smm {
    top: 290px;
    left: 20px;
    width: 110px;
    padding-left: 68px;
    background-image: url(../images/smm.png);

    @include media(mtl) {
      top: 260px;
    }
  }

  &--blog {
    top: 330px;
    left: 310px;
    width: 70px;
    padding-left: 70px;
    background-image: url(../images/blog.png);

    @include media(mtl) {
      top: 280px;
    }
  }

  &--kp {
    top: 408px;
    left: 90px;
    width: 120px;
    background-image: url(../images/kp.png);

    @include media(mtl) {
      top: 358px;
    }
  }

  &--email {
    top: 480px;
    left: 302px;
    width: 94px;
    padding-left: 87px;
    background-image: url(../images/email-marketing.png);

    @include media(mtl) {
      top: 370px;
    }
  }
}

.shell__button {
  font-size: 22px;
  margin-left: 87px;

  @include media(mtp) {
    margin-top: 30px;
    margin-left: 0;
    font-size: 18px;
  }

  @include media(msp) {
    margin-top: 20px;
  }

  span {
    padding: 21px 38px;
  }
}

.shell__tabsContent {
}
