.slider {
}

.slider__list {
  @include listReset;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.slider__item {
  position: relative;
  overflow: hidden;
  width: 33.3333%;

  @include media(mtl) {
    height: 21vw;
  }

  @include media(mtp) {
    height: auto;
  }
}

.slider__text {
  position: absolute;
  top: 27px;
  left: 20px;
  right: 20px;
  color: #fff;
  white-space: normal;

  @include media(mtp) {
    top: 10px;
    left: 10px;
    right: 10px;
    text-shadow: 1px 2px 3px hsla(0, 0%, 0%, 0.6);
  }

  @include media(msp) {
    display: none;
  }

  &--dark {
    color: $colorText;
  }
}

.slider__title {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.slider__dscr {
  font-size: 14px;
}

.slider__image {
}

.slider__arrows {
  display: flex;
}

.slider__arrow {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  border: 3px solid hsl(0, 0%, 64%);
  background-image: url(../images/slider-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  font-size: 0;
  color: transparent;
  padding: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:last-child {
    margin-right: 0;
  }

  &--prev {
  }

  &--next {
    transform: rotate(180deg);
  }
}
