.tabs {
}

.tabs__title {
  font-weight: 900;
  font-family: $fontTitle;
  line-height: 1;
  font-size: 42px;
  margin-bottom: 15px;

  @include media(mtl) {
    font-size: 32px;
    margin-bottom: 10px;
  }

  small {
    display: inline-block;
    margin-top: -0.5em;
    font-size: 0.5em;
  }
}

.tabs__image {
  margin-bottom: 33px;

  @include media(mtl) {
    max-width: 240px;
    margin-bottom: 10px;
  }

  @include media(mtp) {
    margin-bottom: 20px;
  }
}

.tabs__body {
  font-size: 18px;
  line-height: 1.5556;
  margin-bottom: 49px;

  @include media(mtl) {
    font-size: 14px;
    margin-bottom: 30px;
  }

  @include media(mtp) {
    font-size: 14px;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 1.5em;

    @include media(msp) {
      margin-bottom: 1em;
    }

  }

  em {
    font-size: 1.2222em;
    line-height: 1.27273;

  }
}

.tabs__list {
  @include listReset;


}

.tabs__item {
}

.tabs__tab {

}

.tabs__tabsContent {
  @include listReset;
  display: flex;
}

.tabs__content {
  padding: 0 15px;

  @include media(mtp) {
    padding: 0;
  }
}

.tabs__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $fontItalic;
  font-style: italic;
  @include media(mtl-only) {
    padding-left: 20px;
  }

  @include media(msp) {
    margin-bottom: 30px;
  }
}

.tabs__button {
  background-color: $colorSliderNav;
  border: none;
  color: #fff;
  font-size: 22px;
  line-height: 1;
  padding: 17px 19px 21px;
  appearance: none;
  flex-shrink: 0;
  font-family: inherit;
  font-style: inherit;
  cursor: pointer;

  @include media(mtl) {
    font-size: 20px;
  }

  @include media(mtp) {
    font-size: 15px;
  }

  &:hover {
    opacity: 0.8;
  }

  &--prev {
    margin-right: 13px;
    width: 60px;
  }
}

.tabs__counter {
  margin-left: auto;
  display: flex;
  font-size: 39px;
  line-height: 1;
  transform: translate(-5px, -3px);

  @include media(mtp) {
    font-size: 30px;
    transform: translate(-5px, 10px);
  }

  @include media(msp) {
    transform: none;
    justify-content: flex-end;
  }

}


@mixin counterNumFontSize() {
  font-size: 45px;

  @include media(mtp) {
    font-size: 35px;
  }
}

.tabs__current {
  @include counterNumFontSize;
  transform: translate(1px, -0.55556em);
}

.tabs__total {
  @include counterNumFontSize;
  transform: translate(-5px, 0.22222em);
}

.tns-inner {
  overflow: hidden;
}
