.teammate {
}

.teammate__row {
  position: relative;
}

.teammate__image {
}

.teammate__textOnImage {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 20px;
  color: #fff;
  text-shadow: 0 2px 3px rgba(#232323, 0.4);
}

.teammate__name {
  font-size: 18px;
  color: $colorStyle;
}

.teammate__post {
  font-size: 14px;
}

.teammate__body {
  padding: 20px 30px 30px;
  font-size: 14px;
  background-color: #fff;
}
