.team {
  padding-top: 56px;
  padding-bottom: 70px;
}

.team__inner {
  padding: 0 30px;

  @include media(msp) {
    padding: 0 10px;
  }
}

.team__heading {
  text-align: center;
  margin-bottom: 48px;
}

.team__list {
  @include listReset;
  display: flex;
  flex-wrap: wrap;
}

.team__item {
  lost-column: 1/6 6 20px;
  //flex-basis: 173px;
  margin: 0 10px 40px;

  @include media(mtp) {
    lost-column: 1/5 5 20px;
  }

  @include media(msp) {
    lost-column: 1/3 3 10px;
  }
}

.team__link {
  display: block;
  width: 150px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  color: inherit;
  text-decoration: none;
  position: relative;


  @include media(mtp) {
    width: 100%;
    height: auto;
  }

  &:hover {
    text-decoration: none;

    .team__image {

      &::after {
        opacity: 1;
      }

      img {
        opacity: 0.3;
      }
    }

    .team__name {
      opacity: 1;
    }

  }
}

.team__image {
  transition-duration: 0.3s;
  position: relative;
  background-color: #000;
  border-radius: 50%;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/photo-frame.png);
    background-repeat: no-repeat;
    background-size: contain;
    transition-duration: 0.3s;
    transform: scale(1.15);
    opacity: 0.6;
  }

  img {
    border-radius: 50%;
  }
}

.team__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $colorStyle;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  opacity: 0;
  transition-duration: 0.3s;
}

.team__post {
  display: none;
}

.team__body {
  display: none;
}