.techOpti {
  padding-top: 123px;
  padding-bottom: 77px;
  text-align: center;

  @include media(mtp) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.techOpti__inner {
  position: relative;
}

.techOpti__heading {
  @include numTitle;
  margin-bottom: 10px;
}

.techOpti__dscr {
  font-family: $fontItalic;
  font-style: italic;
  margin-bottom: 87px;
  font-size: 22px;
}

.techOpti__row {
  display: flex;
  justify-content: space-between;
}

.techOpti__gun {
  width: 770px;
  margin: 9px auto 40px;

  @include media(mtp) {
    width: auto;
    max-width: 450px;
  }

  @include media(msp) {
    display: none;
  }
}

.techOpti__blockquote {
  width: 630px;
  flex-shrink: 0;
  margin-left: 50px;

  @include media(mtp) {
    width: 500px;
    margin-left: 0;
  }
}

.techOpti__author {
}

.techOpti__name {
}

.techOpti__post {

}

.techOpti__photo {
  position: absolute;
  top: 321px;
  right: -357px;

  @include media(mtp) {
    width: 700px;
    right: -290px;
  }

  @include media(msp) {
    position: static;
  }
}

.techOpti__list {
  @include listReset;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  @include media(msp) {
    display: block;
    margin-top: 40px;
  }
}

.techOpti__item {
  width: 29%;
  text-align: left;
  position: relative;

  @include media(msp) {
    margin-bottom: 40px;
    width: auto;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    pointer-events: none;

    @include media(mtp) {
      transform: scale(0.5);
    }

    @include media(msp) {
      content: none !important;
    }
  }

  &:nth-child(1)::before {
    content: url(../images/block3-arrow-1.png);
    top: -317px;
    left: 73px;

    @include media(mtp) {
      top: -220px;
    }
  }
  &:nth-child(2)::before {
    content: url(../images/block3-arrow-2.png);
    top: -26px;
    left: 131px;
  }
  &:nth-child(3)::before {
    content: url(../images/block3-arrow-3.png);
    top: -275px;
    left: 14px;

    @include media(mtp) {
      top: -195px;
    }
  }
}

.techOpti__image {
  display: flex;
  align-items: flex-end;
  height: 180px;
  margin-bottom: 15px;

  @include media(msp) {
    max-width: 300px;
  }

  img {
    width: auto;

    @include media(mtp) {
      width: 100%;
    }
  }
}

.techOpti__title {
  font-size: 27px;
  line-height: 1.2;
  margin-bottom: 8px;

  @include media(mtp) {
    font-size: 22px;
  }
}

.techOpti__body {
  font-size: 16px;
  line-height: 1.4375;

  @include media(mtp) {
    font-size: 14px;
  }
}

.techOpti__button {
  font-size: 22px;

  span {
    padding-left: 43px;
    padding-right: 43px;
  }
}