.titer {
  padding-top: 30px;
  padding-bottom: 190px;
  background-color: hsl(0, 0%, 20%);
  background-image: url(../images/bg/titer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;

  @include media(mtp) {
    padding-bottom: 120px;
  }

  @include media(msl) {
    padding-top: 20px;
    padding-bottom: 50px;
    background-position-x: 65%;
  }
}

.titer__inner {
}

.titer__upper {
  display: flex;
  align-items: center;
  margin-bottom: 110px;

  @include media(mtp) {
    margin-bottom: 80px;
  }

  @include media(msl) {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

.titer__heading {
  font-size: 68px;
  line-height: 1.1;
  max-width: 10em;
  margin-bottom: 65px;

  @include media(mtp) {
    font-size: 44px;
  }

  @include media(msl) {
    font-size: 30px;
    margin-bottom: 40px;
  }

  em {
    font-size: 0.588235294em;
    font-weight: 400;
  }
}

.titer__logo {
  display: flex;
  width: 110px;
  height: 40px;
  border-right: 1px solid #fff;
  padding-right: 15px;
  margin-right: 15px;
  flex-shrink: 0;

  @include media(msl) {
    justify-content: space-between;
    border: none;
    padding-right: 0;
    margin-right: 0;
  }

  img {
    margin: auto;
  }
}

.titer__slogan {
  font-size: 13px;
  max-width: 9em;
  margin-right: 21%;
  flex-shrink: 0;

  @include media(msl) {
    order: 10;
    width: 50%;
    margin-top: 10px;
    margin-right: auto;
    line-height: 1.4;
  }
}

.titer__call {
  text-align: right;

  @include media(msl) {
    text-shadow: 1px 2px 10px #232323;
  }
}

.titer__phone {
  font-weight: 900;
  font-size: 18px;
}

.titer__orderCall {
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.titer__button {
}
