-
    goodsSearch = [
    {
    image: './files/goods-search/map.png',
    body: 'Сколько из них вас найдут?'
    },
    {
    image: './files/goods-search/letters.png',
    body: 'Сколько из тех, кто нашел, захочет с вами связаться?'
    },
    {
    image: './files/goods-search/dove.png',
    body: 'Сколько из них сможет это сделать?'
    },
    {
    image: './files/goods-search/dogs.png',
    body: 'Сколько из тех, кто купил ваш товар или заказал услугу, захочет обратиться снова и посоветовать друзьям?'
    },
    ];
    branches = [
    {
    image: './files/branches/business-01.jpg',
    title: 'Жилые комплексы и коттеджные поселки'
    },
    {
    image: './files/branches/business-02.jpg',
    title: 'Строительство'
    },
    {
    image: './files/branches/business-03.jpg',
    title: 'Производство, заводы и фабрики'
    },
    {
    image: './files/branches/business-04.jpg',
    title: 'Медицина'
    },
    {
    image: './files/branches/business-05.jpg',
    title: 'Услуги'
    },
    {
    image: './files/branches/business-06.jpg',
    title: 'Оптовая продажа'
    },
    {
    image: './files/branches/business-07.jpg',
    title: 'Розничная продажа'
    },
    {
    image: './files/branches/business-08.jpg',
    title: 'Инфобизнес'
    },
    {
    image: './files/branches/business-09.jpg',
    title: 'Торговые центры'
    },
    {
    image: './files/branches/business-10.jpg',
    title: 'Стартап '
    },
    ];
    sevenStages = [
    {
    image: './files/seven-stages/position.png',
    title: 'Позиционирование',
    },
    {
    image: './files/seven-stages/design.png',
    title: 'Дизайн',
    },
    {
    image: './files/seven-stages/tech-packing.png',
    title: 'Техническая упаковка',
    },
    {
    image: './files/seven-stages/clients-stream.png',
    title: 'Поток клиентов',
    },
    {
    image: './files/seven-stages/analytics.png',
    title: 'Аналитика',
    },
    {
    image: './files/seven-stages/sales-department.png',
    title: 'Отдел продаж',
    },
    {
    image: './files/seven-stages/loyalty.png',
    title: 'Создание лояльности',
    },
    ];
    shellTab = [
    {
    tabName: 'Сайт',
    image: './files/shell-tabs/website.png',
    title: '01. Сайт',
    body: '<p><em>Лендинг, сайт или интернет магазин – незаменимые инструменты ведения бизнеса</em></p>' +
    '<p>Нет сайта? Нет продаж. Неудобный сайт? Клиенты уйдут. Страшный сайт? Нет доверия и лояльности. Медленный сайт? Клиенты о вас не узнают. Неадаптивный сайт? Клиенты вас закроют.</p>' +
    '<p>Пора выйти на новый уровень! Сайт – это ваш виртуальный офис. Он должен быть удобным, современным, быстрым, понятным, с правильной структурой и грамотными триггерами. Он способен увеличить вашу прибыль в разы! И мы знаем, как этого добиться.</p>',
    mod: 'site'
    },
    {
    tabName: 'Фирменный стиль',
    image: './files/shell-tabs/website.png',
    title: '02. Фирменный стиль <small>(нейминг, логотип, корпоративные материалы)</small>',
    body: '<p><em>Узнаваемые черты вашей компании, выделяющие вас из сотни тысяч других</em></p>' +
    '<p>Для потенциального клиента Ваша компания лишь одна из сотен и тысяч, как клон, если у Вас нет собственного стиля. Мы знаем, как создавать узнаваемый стиль, который выделит Вас среди всех конкурентов\n</p>',
    mod: 'brand-id'
    },
    {
    tabName: 'Маркетинг кит',
    image: './files/shell-tabs/website.png',
    title: '03. Маркетинг-кит',
    body: '<p><em>Ваш незаменимый помощник на личных встречах </em></p>' +
    '<p>Вы приходите на переговоры и рассказываете о своей компании не на пальцах или на ноутбуке, пытаясь подключиться к интернету? А могли бы показывать солидную мини-книгу, в которой описаны все преимущества, услуги и особенности компании и значительно увеличить вероятность сделки. Маркетинг-кит – незаменимое и необходимое оружие на любых переговорах.</p>' +
    '<p>Мы знаем, как сделать маркетинг-кит не просто папкой с картинками и текстом, а эффективным оружием продаж.</p>',
    mod: 'marketing-kit'
    },
    {
    tabName: 'Коммерческое предложение',
    image: './files/shell-tabs/website.png',
    title: '04. Коммерческое предложение',
    body: '<p><em>Презентабельное предложение в PDF файле для быстрых продаж</em></p>' +
    '<p>Вы по-прежнему рассылаете потенциальным клиентам на почту кучу текста, написанные в word? А чем вы отличаетесь от остальных? Пора сделать коммерческое предложение не «информационной портянкой», а продающим документом, рекламой, которая направлена на конкретную целевую адиторию!</p>',
    mod: 'kp'
    },
    {
    tabName: 'Видео',
    image: './files/shell-tabs/website.png',
    title: '05. Видео',
    body: '<p><em>Инструмент, способный за минуту рассказать всё о компании и сделать клиента лояльным, либо вызвать желание рассказать о вас друзьям и знакомым</em></p>' +
    '<p>Создаём вирусные видео, стильную презентация компании, видео для сайта. Видео увеличивают конверсию, лояльность и поведенческие факторы в разы.</p>',
    mod: 'video'
    },
    {
    tabName: 'SMM продвижение',
    image: './files/shell-tabs/website.png',
    title: '06. SMM продвижение',
    body: '<p><em>Оформление ваших страниц в соц. сетях. Будьте ближе к клиенту, будьте всегда рядом.</em></p>' +
    '<p>Ошибочно появляться только тогда, когда человек выбирает куда обратиться. Будьте рядом заранее, чтобы он не задумался о ваших конкурентах. Оформление и ведение страниц в социальных сетях поможет рассказывать о компании, её экспертности и достижениях на порядок проще и быстрее. Шире охват – больше прибыли.</p>',
    mod: 'smm'
    },
    {
    tabName: 'E-mail маркетинг',
    image: './files/shell-tabs/website.png',
    title: '07. E-mail маркетинг',
    body: '<p><em>Подогревайте свою аудиторию через презентабельную и интересную e-mail рассылку.</em></p>' +
    '<p>Незаменимый инструмент в доп.продаже товаров и услуг. Позволяет вернуть клиента и предложить ему что-то снова, не тратя деньги на рекламу.</p>',
    mod: 'email'
    },
    {
    tabName: 'Ведение блога',
    image: './files/shell-tabs/website.png',
    title: '08. Ведение блога',
    body: '<p><em>Покажите свою экспертность аудитории.</em></p>' +
    '<p>Авторское или корпоративное ведение страниц в социальных сетях, по электронной почте или на сайте.</p>',
    mod: 'blog'
    },
    ];
    techOpti = [
    {
    image: './files/tech-opti/bullets.png',
    title: 'SEO-оптимизация',
    body: 'Сайт может быть всем хорош, с адаптивом и оптимизирован по скорости, но для кого это сделано, если сайт не показывается в поисковике? Мы расскажем Вам всю правду про современное SEO и подберем стратегию оптимизации и продвижения.'
    },
    {
    image: './files/tech-opti/wood-wheels.png',
    title: 'Скорость загрузки',
    body: 'Сайт может быть с продающими триггерами, оптимизированный и красивый, но, если он открывается долго, никто этого не увидит. Человек покинет сайт раньше, чем тот загрузит свой контент.'
    },
    {
    image: './files/tech-opti/wood-device.png',
    title: 'Адаптивный сайт',
    body: 'Адаптивная верстка нужна для мобильных устройств, для более удобного взаимоействия с пользователем. Ваш сайт откроется на смартфоне и на обычной верстке, но если у конкурента сайт из-за мобильной оптимизации удобнее, то у вас шанс на продажу или лояльность стремится к нулю.'
    },
    ];
    team = [
    {
    id: 'egorov',
    image: './files/team/egorov.jpg',
    thumbnail: './files/team/egorov@thumbnail.jpg',
    name: 'Дмитрий Егоров',
    post: 'Эксперт в сфере разработки сайтов',
    body: '<p>Первый сайт сделал в 2009 году. В совершенстве владеет html 5.1 и CSS3. Базовые знания языков JS и PHP. Постоянно развивается в сфере UX/UI и интернет-маркетинге.</p>' +
    '<p>С 2015 года управляющий партнер направления разработки и продвижения сайтов в команде B2B. В подчинении 7 человек.</p>'
    },
    {
    id: 'vavilov',
    image: './files/team/vavilov.jpg',
    thumbnail: './files/team/vavilov@thumbnail.jpg',
    name: 'Тимур Вавилов',
    post: 'Эксперт по выстраиванию продаж',
    body: 'Бизнес-тренер для первых лиц.<br>'+
    'Эксперт по продажам и выстраиванию эффективного отдела продаж. Наставник в проекте GOOGLE и Сбербанк «Бизнес класс».<br>'+
    'Свой первый успешный отдел продаж построил в 2012 году. На сегодняшний день более 60 успешных реализованных проектов.<br>'+
    'Автор методики по мгновенному набору персонала. Основатель авторского курса «Отдел продаж по-Самурайски»'
    },
    {
    id: 'musaev',
    image: './files/team/musaev.jpg',
    thumbnail: './files/team/musaev@thumbnail.jpg',
    name: 'Ильнур Мусаев',
    post: 'Эксперт',
    body: 'Видеооператор, колорист, ведущий дизайнер по спецэффектам и компьютерной графике. Работает по стандартам и презетам таких фирм-производителей кинокамер, как Red. Allexa.Arri. Blackmagic. В совершенстве владеет мануальным контролем камерой на полном кадре и кропе в любых условиях. Вы еще не закончили свою мысль, а он уже видит, как воплотить ее в видео.'
    },
    {
    id: 'kruchkov',
    image: './files/team/kruchkov.jpg',
    thumbnail: './files/team/kruchkov@thumbnail.jpg',
    name: 'Вадим Крючков',
    post: 'Один из лучших режиссеров Татарстана',
    body: 'Потомственный, дипломированный режиссер, который не нуждается в представлении. Тысячи часов отснятых материалов, с великолепным исходным качеством'
    },
    {
    id: 'tutaev',
    image: './files/team/tutaev.jpg',
    thumbnail: './files/team/tutaev@thumbnail.jpg',
    name: 'Сергей Тутаев',
    post: 'Заслуженный звукорежиссер РТ.',
    body: 'Человек с большой буквы, чье имя знают звезды Татарстана и России. Более 20 лет стажа. Имеет идеальный слух.'
    },
    {
    id: 'isakov',
    image: './files/team/isakov.jpg',
    thumbnail: './files/team/isakov@thumbnail.jpg',
    name: 'Евгений Исаков',
    post: 'Креативный директор',
    body: 'Генератор креативных коммерческих идей как для online так и для оффлайн проектов. '
    },
    {
    id: 'kunin',
    image: './files/team/kunin.jpg',
    thumbnail: './files/team/kunin@thumbnail.jpg',
    name: 'Михаил Кунин',
    post: 'Руководитель отдела продаж',
    body: 'Эксперт по привлечению и удержанию клиентов. Опыт работы в продажах более 5 лет.'
    },
    {
    id: 'gayfullin',
    image: './files/team/gayfullin.jpg',
    thumbnail: './files/team/gayfullin@thumbnail.jpg',
    name: 'Айрат Гайфуллин',
    post: 'Эксперт в аналитике',
    body: 'Развивается в рекламе с 2013 года. Выстраивает аналитику по рекламе не по кликам, а продажам. Цифрует клиента от рекламы до заключения договора.'
    },
    {
    id: 'shagiev',
    image: './files/team/shagiev.jpg',
    thumbnail: './files/team/shagiev@thumbnail.jpg',
    name: 'Раис Шагиев',
    post: 'Художник проектов',
    body: ''
    },
    {
    id: 'osokina',
    image: './files/team/osokina.jpg',
    thumbnail: './files/team/osokina@thumbnail.jpg',
    name: 'Кристина Осокина',
    post: 'Контент-менеджер',
    body: 'Поддерживаю группы клиентов и их наполнения (контента), обновление новостной ленты, написание эксклюзивных статей по любой тематике)'
    },
    {
    id: 'spiridonov',
    image: './files/team/spiridonov.jpg',
    thumbnail: './files/team/spiridonov@thumbnail.jpg',
    name: 'Алексей Спиридонов',
    post: 'Фотограф',
    body: 'Профессиональный фотограф, диплом гос. образца.<br>'+
    'Член союза фотографов РТ.<br>'+
    'В портфолио <  100 000 фотографий.'
    },
    {
    id: 'cherepanova',
    image: './files/team/cherepanova.jpg',
    thumbnail: './files/team/cherepanova@thumbnail.jpg',
    name: 'Алёна Черепанова',
    post: 'Руководитель дизайнерского отдела',
    body: 'Дипломированный дизайнер. Нет невозможных задач, любой макет должен привлекать и продавать!<br>'+
    'Отличное знание Photoshop, Illustrator, corel, InDesign, 3D Max'
    },
    {
    id: 'fomina',
    image: './files/team/fomina.jpg',
    thumbnail: './files/team/fomina@thumbnail.jpg',
    name: 'Юлия Фомина',
    post: 'Иллюстратор',
    body: 'Работаю с графическим планшетом в Adobe Photoshop и PainToolSAI, рисую от руки. Быстро адаптируюсь к новым задачам и проектом.<br>'+
    'Рисую в разных стилях. Всегда! Выполняю поставленные задачи в указанные сроки. Без проблем могу перейти от одной тематики рисунка к другой.'
    },
    {
    id: 'kuznizova',
    image: './files/team/kuznizova.jpg',
    thumbnail: './files/team/kuznizova@thumbnail.jpg',
    name: 'Наталья Кузницова',
    post: 'Дизайнер',
    body: 'Квалифицированный дизайнер, владение графическими программами, визуализации, рисунок от руки от стадии эскиза до полной готовности проекта'
    },
    {
    id: 'gubaidulin',
    image: './files/team/gubaidulin.jpg',
    thumbnail: './files/team/gubaidulin@thumbnail.jpg',
    name: 'Ильдар Губайдуллин',
    post: 'IT-специалист',
    body: 'Стратегическое видение развития проектов, бизнес-ориентированный подход, креативный подход к невыполнимым задачам, достижение поставленных целей в переговорах и технических ситуациях.'
    },
    {
    id: 'muratov',
    image: './files/team/muratov.jpg',
    thumbnail: './files/team/muratov@thumbnail.jpg',
    name: 'Руслан Муратов',
    post: 'IT-специалист',
    body: 'Опыт работы в IT более 7 лет — отличное понимание отрасли и специфики организации IT отдела с «нуля», большой и успешный опыт автоматизации и оптимизации IT процессов и модернизации ИТ инфраструктуры.'
    },
    {
    id: 'mitina',
    image: './files/team/mitina.jpg',
    thumbnail: './files/team/mitina@thumbnail.jpg',
    name: 'Агата Митина',
    post: 'Контент-менеджер',
    body: 'Создаю полноценный контент в формате : посты и статьи, аудио , видео, демотиваторы и коллажи. Занимаюсь активным продвижением групп Вконтакте, Facebook, Twitter, YouTube, и др.'
    },
    {
    id: 'mitchenkova',
    image: './files/team/mitchenkova.jpg',
    thumbnail: './files/team/mitchenkova@thumbnail.jpg',
    name: 'Екатерина Митченкова',
    post: 'Контент-менеджер',
    body: 'Поддерживаю также группы в социальных сетях.'
    },
    {
    id: 'gavrilov',
    image: './files/team/gavrilov.jpg',
    thumbnail: './files/team/gavrilov@thumbnail.jpg',
    name: 'Дмитрий Гаврилов',
    post: '2D-художник',
    body: 'Рисую в разных стилях, могу подстроиться под любой стиль.<br>'+
    'Свободно владею Adobe Photoshop, Paint tool SAI.<br>'+
    'Работаю на графическом планшете, также могу рисовать от руки.'
    },
    {
    id: 'romanov',
    image: './files/team/romanov.jpg',
    thumbnail: './files/team/romanov@thumbnail.jpg',
    name: 'Евгений Романов',
    post: 'Дизайнер',
    body: 'Дизайнер, иллюстратор, художник компьютерной графики'
    },
    {
    id: 'teplyakov',
    image: './files/team/teplyakov.jpg',
    thumbnail: './files/team/teplyakov@thumbnail.jpg',
    name: 'Александр Тепляков',
    post: 'Художник аниматор',
    body: 'Опыт работы 9 лет. Рисую концептарты персонажей, локаций, объектов, иконки и т.п. Часто решал задачи по оптимизации графики'
    }
    ];
    slider = [
    {
    title: 'Кубок конфидерации 2017',
    descr: 'Видео',
    image: './files/cases/russian-cup.jpg',
    },
    {
    title: 'Askona',
    descr: 'SMM, Маркетинг, PR',
    image: './files/cases/askona.jpg',
    },
    {
    title: 'Сбербанк',
    descr: 'Вирусный флешмоб',
    image: './files/cases/sber.jpg',
    dark: true,
    },
    {
    title: 'Ситилинк',
    descr: 'PR и SMM-продвижение',
    image: './files/cases/citylink.jpg',
    },
    {
    title: 'Промсвязьбанк',
    descr: 'Интернет-маркетинг',
    image: './files/cases/promsviaz.jpg',
    },
    {
    title: 'Магнит',
    descr: 'Контекстная реклама, Маркетинг, PR, Рассылки',
    image: './files/cases/magnit.jpg',
    },
    ];
    formCheckboxes = [
    {
    id: 'cb-position',
    text: 'Позиционирование'
    },
    {
    id: 'cb-website',
    text: 'Сайт'
    },
    {
    id: 'cb-brand-id',
    text: 'Фирменный стиль (нейминг, логотип, корпоративные материалы)'
    },
    {
    id: 'marketing-kit',
    text: 'Маркетинг-кит'
    },
    {
    id: 'cb-kp',
    text: 'Коммерческое предложение'
    },
    {
    id: 'cb-smm',
    text: 'SMM продвижение'
    },
    {
    id: 'cb-email-marketing',
    text: 'E-mail маркетинг'
    },
    {
    id: 'cb-video',
    text: 'Видео (вирусное, корпоративное)'
    },
    {
    id: 'cb-blog',
    text: 'Ведение Блога'
    },
    {
    id: 'cb-clients-stream',
    text: 'Поток клиентов'
    },
    {
    id: 'cb-crm',
    text: 'CRM'
    },
    {
    id: 'cb-analytics',
    text: 'Аналитика'
    },
    {
    id: 'cb-funnels',
    text: 'Автоворонки и мультиворонка'
    },
    {
    id: 'cb-sales-department',
    text: 'Отдел продаж'
    },
    {
    id: 'cb-pr',
    text: 'PR'
    },
    {
    id: 'cb-loyalty',
    text: 'Лояльность клиентов'
    }
    ];
    modalForms = [
    {
    id: 'business-packing',
    text: 'и мы поможем упаковать ваш бизнес'
    },
    {
    id: 'benefit-losing',
    text: 'и вы перестанете терять свои деньги'
    },
    {
    id: 'company-positioning',
    text: 'и мы сформируем ваше позиционирование'
    },
    {
    id: 'shell-packing',
    text: 'и мы поможем с оболочкой бизнеса'
    },
    {
    id: 'site-tuning',
    text: 'и мы поможем с оптимизацией вашего сайта'
    },
    {
    id: 'traffic',
    text: 'и мы запустим трафик на сайт'
    },
    {
    id: 'analytics',
    text: 'и мы запустим трафик на сайт'
    },
    {
    id: 'double-benefit',
    text: 'и мы поможем удвоить вашу прибыль'
    },
    {
    id: 'loyalty',
    text: 'и мы повысим лояльность клиентов к вашему бизнесу'
    }
    ];