+b('caseFull', {b: 'block'}, 'section')(id="case" class="mfp-hide")
    +e('inner', {e: 'block'})
        +e('main')
            +e('heading', {e: 'block'}, 'h2') Развили компанию до федерального уровня
            +e('dscr', {e: 'block'})
                ul
                    li Увеличили чистую прибыль в 7 раз
                    li Снизили издержки в 4 раза
                    li Снизили стоимость заявки с 4500 руб до 650 руб.
                    li Создали отдел автоматизированный, многоуровневый продаж + 65% к конверсии
                    li И еще 2 года непрерывного улучшения
            +b('caseList', {e: '&'})
                +e('title', {}, 'h3') За 2 года было выполнено более 320 задач по маркетингу:
                +e('list', {}, 'ul')(class="nojs")
                    +e('row')
                        +e('text', {}, 'div') Проанализировали всю нишу СРО, собрали данные 40 лучших конкурентов.
                    +e('row')
                        +e('text', {}, 'div') Создали прототип и стратегию продвижения
                    +e('row')
                        +e('text', {}, 'div') Создали корпоративный сайт, который вызывал доверие.  напомним 2016 год*
                        +e('images', {}, 'div')
                            img(src="./files/case/img-01.jpg")
                            img(src="./files/case/img-02.jpg")
                    +e('row')
                        +e('text', {}, 'div') SEO. обошли алгоритмы Яндекса и Гугла и продвинули сайт по SEO в 170 городах
                    +e('row')
                        +e('text', {}, 'div') В сайте создали еще 4 реально продающих ленда     внутри, которые приносят заявки
                        +e('images', {}, 'div')
                            img(src="./files/case/img-03.jpg")
                            img(src="./files/case/img-04.jpg")
                    +e('row')
                        +e('text', {}, 'div') В первый же месяц клиент получил более 350 целевых заявок.
                    +e('row')
                        +e('text', {}, 'div') Наш ленд притягивал заявки по 600 руб. В то время как у конкурентов заявка стоила 2000 руб.
                    +e('row')
                        +e('text', {}, 'div') Создано 11 представительств в социальных сетях с уникальным дизайном. Вывели в топ №1 по РФ
                        +e('images', {}, 'div')
                            img(src="./files/case/img-05.jpg")
                            img(src="./files/case/img-06.jpg")
                    +e('row')
                        +e('text', {}, 'div') Самый раскаченый инстаграм по СРО в РФ в 2016 и в 2017 году
                        +e('images', {}, 'div')
                            img(src="./files/case/img-07.jpg")
                            img(src="./files/case/img-08.jpg")
                            img(src="./files/case/img-09.jpg")
                    +e('row')
                        +e('text', {}, 'div') Автоматизированная e-mail рассылка
                        +e('images', {}, 'div')
                            img(src="./files/case/img-10.jpg")
                            img(src="./files/case/img-11.jpg")
                            img(src="./files/case/img-12.jpg")
                            img(src="./files/case/img-13.jpg")
                    +e('row')
                        +e('text', {}, 'div') Креативная серия роликов "Карлеоне и СРО", которая покорила их клиентов
                        +e('videos', {}, 'div')
                            +e('video'): img(src="//placehold.it/300x200")
                            +e('video'): img(src="//placehold.it/300x200")
                            +e('video'): img(src="//placehold.it/300x200")
                    +e('row')
                        +e('text', {}, 'div') Переделаны все маркетинговые материалы, раньше клиент отправлял КП формат А4 сплошной текст, а теперь целевые презентации
                        +e('images', {}, 'div')
                            img(src="./files/case/img-14.jpg")
                    +e('row')
                        +e('text', {}, 'div') Организовали тренинг с Сергеем Азимовым один из лучших тренеров по продажам в РФ
                        +e('images', {}, 'div')
                            img(src="./files/case/img-15.jpg")
                    +e('row')
                        +e('text', {}, 'div') Организация фотосессий компании более 2000 фотографий
                        +b('gallery', {e: '&'}, 'div')(class="nojs")
                            +e('main')
                                for i in new Array(24)
                                    +e('item'): img(src="./files/case/img-16.jpg")
                            +e('thumbnail')
                                for i in new Array(24)
                                    img(src="./files/case/img-16.jpg")

                    +e('row')
                        +e('text', {}, 'div') Внедрена АМО-CRM эффективность менеджеров выросла в 2,5 раз

            +b('caseList', {e: '&'})
                +e('title', {}, 'h3') Создали просто взрывной отдел продаж
                +e('list', {}, 'ul')(class="nojs")
                    +e('row')
                        +e('text', {}, 'div') Провели глубокий аудит действующей ситуации (оборот 700 тыс. руб.= валовая прибыль 490 тыс. руб. на отдел продаж из 5 человек)
                    +e('row')
                        +e('text', {}, 'div') Разработали новую структуру в компании (разделил специалистов по продажам на уровни согласно их квалификации). Закрыл дистанционный офис (сэкономил 150 000 рублей ежемесячно)
                    +e('row')
                        +e('text', {}, 'div') Разработали и внедрил отчетность и новую мотивацию (для каждого уровня)
                    +e('row')
                        +e('text', {}, 'div') Провели фильтрацию в отделе продаж, на эффективных и неэффективных продавцов (расстался с подрывниками системы и лентяями)
                    +e('row')
                        +e('text', {}, 'div') Увеличили количество эффективных специалистов по продажам (нанял новых сотрудников)
                    +e('row')
                        +e('text', {}, 'div') Разработали и внедрил корпоративное обучение и культуру в компании
                    +e('row')
                        +e('text', {}, 'div') На выходе через 6 месяцев оборот 4 500 000 руб. = валовая прибыль 3 800 000 рублей на 14 специалистов по продажам (4 старших, 4 средних, 6 младших специалистов по продажам) 12. Настройка Яндекс директа и Гугл адвордс
                    +e('row')
                        +e('text', {}, 'div') Интегрирована аналитика
                    +e('row')
                        +e('text', {}, 'div') И мы продалжаем улучшать компанию

        +b('caseSidebar', {e: '&'}, 'aside')
            +e('logo'): img(src="//placehold.it/300x200")
            +e('achievement')
                +e('title') Заявки
                +e('row')
                    +e('label') Было:
                    +e('text', {}, 'div') 50 в месяц
                    +e('bar')(class="nojs" class="nojs" data-bar-position="10") 10%
                +e('row')
                    +e('label') Стало:
                    +e('text', {}, 'div') 650 в месяц
                    +e('bar', 'dyed')(class="nojs" class="nojs" data-bar-position="70") 70%
            +e('achievement')
                +e('title') Стоимость заявки
                +e('row')
                    +e('label') Было:
                    +e('text', {}, 'div') 4500 в месяц
                    +e('bar')(class="nojs" data-bar-position="100") 100%
                +e('row')
                    +e('label') Стало:
                    +e('text', {}, 'div') 600 в месяц
                    +e('bar', 'dyed')(class="nojs" data-bar-position="20") 20%
            +e('achievement')
                +e('title') Отдел продаж
                +e('row')
                    +e('label') Было:
                    +e('text', {}, 'div') 5 сотрудников
                    +e('bar')(class="nojs" data-bar-position="15") 15%
                +e('row')
                    +e('label') Стало:
                    +e('text', {}, 'div') 15 сотрудников
                    +e('bar', 'dyed')(class="nojs" data-bar-position="100") 100%
            +e('achievement')
                +e('title') SEO
                +e('row')
                    +e('label') Было:
                    +e('text', {}, 'div') 1 город
                    +e('bar')(class="nojs" data-bar-position="3") 3%
                +e('row')
                    +e('label') Стало:
                    +e('text', {}, 'div') 170 городов
                    +e('bar', 'dyed')(class="nojs" data-bar-position="100") 100%
            +e('achievement')
                +e('title') Поток на сайт
                +e('row')
                    +e('label') Было:
                    +e('text', {}, 'div') 12 000 в месяц
                    +e('bar')(class="nojs" data-bar-position="40") 40%
                +e('row')
                    +e('label') Стало:
                    +e('text', {}, 'div') 21 000 в месяц
                    +e('bar', 'dyed')(class="nojs" data-bar-position="80") 80%
            +e('achievement')
                +e('title') Соц.сети
                +e('row')
                    +e('label') Было:
                    +e('text', {}, 'div') 500 подписчиков
                    +e('bar')(class="nojs" data-bar-position="10") 10%
                +e('row')
                    +e('label') Стало:
                    +e('text', {}, 'div') 47 000 подписчиков
                    +e('bar', 'dyed')(class="nojs" data-bar-position="95") 95%
            +e('achievement')
                +e('title') Инстаграм
                +e('row')
                    +e('label') Было:
                    +e('text', {}, 'div') 0
                    +e('bar')(class="nojs" data-bar-position="3") 3%
                +e('row')
                    +e('label') Стало:
                    +e('text', {}, 'div') 20 000 подписчиков
                    +e('bar', 'dyed')(class="nojs" data-bar-position="100") 100%
                    +e('text', {}, 'div') лучший дизайн в РФ за 2017
            +e('achievement')
                +e('title') E-mail
                +e('row')
                    +e('label') Было:
                    +e('text', {}, 'div') 3500 писем
                    +e('bar', 'dyed')(class="nojs" data-bar-position="3") 3%
                +e('row')
                    +e('label') Стало:
                    +e('text', {}, 'div') 50 000 писем
                    +e('bar', 'dyed')(class="nojs" data-bar-position="100") 100%
