+b('form', {e: '&', m: 'questionList'}, 'form')(action="/thank.pnp" method="POST")
    +e('weaknesses')
        +e('listTitle', {}, 'h4') Отметьте галочками <span class="dyed">слабые стороны</span> вашей упаковки
        for i in formCheckboxes
            +e('item', 'checkbox')
                +e('checkbox', {}, 'input')(type="checkbox" id=i.id name=i.id)
                +e('label', {}, 'label')(for=i.id) !{i.text}

    +e('main')
        +e('title', {}, 'h3') Заполните форму
        +e('subtitle', {}, 'p') и получите чек-лист по упаковке
        +e('item')
            +e('label', {}, 'label')(for="f0-name") Имя
            +e('input', {}, 'input')(type="text" name="name" id="f0-name")
        +e('item')
            +e('label', {}, 'label')(for="f0-phone") Телефон
            +e('input', {}, 'input')(type="tel" name="phone" id="f0-phone")
        +e('item')
            +e('label', {}, 'label')(for="f0-email") E-mail
            +e('input', {}, 'input')(type="email" name="email" id="f0-email")
        +e('item')
            +e('label', {}, 'label')(for="f0-site") Сайт компании
            +e('input', {}, 'input')(type="text" name="site" id="f0-site")
        +b('button', {e: '&'}, 'button')(type="submit"): span Скачать чек-лист