for i, index in modalForms
    +b('modal', {m: i.id}, 'section')(id=i.id class="mfp-hide")
        - var formId = 'f'+index;
        +b('form', {e: 'modal', m: 'questionList.modal'})(action="/thank.php" method="POST")
            +e('weaknesses')
                +e('listTitle', {}, 'h4') Отметьте галочками <span class="dyed">слабые стороны</span> вашей упаковки
                for j in formCheckboxes
                    +e('item', 'checkbox')
                        +e('checkbox', {}, 'input')(type="checkbox" id=formId + '-' + j.id name=formId + '-' + j.id)
                        +e('label', {}, 'label')(for=formId + '-' + j.id) !{j.text}
            +e('main')
                +e('title', {}, 'h2') Заполните форму
                +e('subtitle', {}, 'p') !{i.text}
                +e('item')
                    +e('label')(for=formId + "-phone") Телефон
                    +e('input', {}, 'input')(type="tel" id=formId + "-phone" name="phone")
                +e('item')
                    +e('label', {}, 'label')(for=formId + "-site") Сайт компании
                    +e('input', {}, 'input')(type="text" name="site" id=formId + "-site")
                +e('item')
                    +e('label')(for=formId + "-email") E-mail
                    +e('input', {}, 'input')(type="mail" id=formId + "-email" name="email")
                +e('item', {m: 'actions'})
                    +b('button', {e: '&'})(type="submit" ): span Отправить заявку



//// Профессиональная упаковка для серьезных бизнесов
//+b('modal', {m: 'business-packing'}, 'section')(id="business-packing" class="mfp-hide")
//    - var formId = 'f2';
//    +b('form', {e: 'modal', m: 'questionList.modal'})(action="/thank.php" method="POST")
//        +e('weaknesses')
//            +e('listTitle', {}, 'h4') Отметьте галочками <span class="dyed">слабые стороны</span> вашей упаковки
//            for i in formCheckboxes
//                +e('item', 'checkbox')
//                    +e('checkbox', {}, 'input')(type="checkbox" id=formId + '-'+i.id name=formId + '-'+i.id)
//                    +e('label', {}, 'label')(for=formId + '-'+i.id) !{i.text}
//        +e('main')
//            +e('title', {}, 'h2') Заполните форму
//            +e('subtitle', {}, 'p') и мы поможем упаковать ваш бизнес
//            +e('item')
//                +e('label')(for="f2-phone") Телефон
//                +e('input', {}, 'input')(type="tel" id="f2-phone" name="phone")
//            +e('item')
//                +e('label')(for="f2-email") E-mail
//                +e('input', {}, 'input')(type="mail" id="f2-email" name="email")
//            +e('item', {m: 'actions'})
//                +b('button', {e: '&'})(type="submit" ): span Отправить заявку

//// А сколько уже потеряли вы в деньгах?
//+b('modal', {m: 'benefit-losing'}, 'section')(id="benefit-losing" class="mfp-hide")
//    +e('heading', {}, 'h2') Оставьте заявку
//    +e('dscr', {}, 'p') и вы перестанете терять свои деньги
//    +b('form', {e: 'modal'})(action="/thank.php" method="POST")
//        +e('item')
//            +e('label')(for="f3-phone") Телефон
//            +e('input', {}, 'input')(type="tel" id="f3-phone" name="phone")
//        +e('item')
//            +e('label')(for="f3-email") E-mail
//            +e('input', {}, 'input')(type="mail" id="f3-email" name="email")
//        +e('item', {m: 'actions'})
//            +b('button', {e: '&'})(type="submit" ): span Отправить заявку
//
//// Сформировать позиционирование
//+b('modal', {m: 'company-positioning'}, 'section')(id="company-positioning" class="mfp-hide")
//    +e('heading', {}, 'h2') Оставьте заявку
//    +e('dscr', {}, 'p') и мы сформируем ваше позиционирование
//    +b('form', {e: 'modal'})(action="/thank.php" method="POST")
//        +e('item')
//            +e('label')(for="f4-phone") Телефон
//            +e('input', {}, 'input')(type="tel" id="f4-phone" name="phone")
//        +e('item')
//            +e('label')(for="f4-email") E-mail
//            +e('input', {}, 'input')(type="mail" id="f4-email" name="email")
//        +e('item', {m: 'actions'})
//            +b('button', {e: '&'})(type="submit" ): span Отправить заявку
//
//// Упаковать оболочку
//+b('modal', {m: 'shell-packing'}, 'section')(id="shell-packing" class="mfp-hide")
//    +e('heading', {}, 'h2') Оставьте заявку
//    +e('dscr', {}, 'p') и мы поможем с оболочкой бизнеса
//    +b('form', {e: 'modal'})(action="/thank.php" method="POST")
//        +e('item')
//            +e('label')(for="f5-phone") Телефон
//            +e('input', {}, 'input')(type="tel" id="f5-phone" name="phone")
//        +e('item')
//            +e('label')(for="f5-email") E-mail
//            +e('input', {}, 'input')(type="mail" id="f5-email" name="email")
//        +e('item', {m: 'actions'})
//            +b('button', {e: '&'})(type="submit" ): span Отправить заявку
//
//// Прокачать сайт
//+b('modal', {m: 'site-tuning'}, 'section')(id="site-tuning" class="mfp-hide")
//    +e('heading', {}, 'h2') Оставьте заявку
//    +e('dscr', {}, 'p') и мы поможем с оптимизацией вашего сайта
//    +b('form', {e: 'modal'})(action="/thank.php" method="POST")
//        +e('item')
//            +e('label')(for="f6-phone") Телефон
//            +e('input', {}, 'input')(type="tel" id="f6-phone" name="phone")
//        +e('item')
//            +e('label')(for="f6-email") E-mail
//            +e('input', {}, 'input')(type="mail" id="f6-email" name="email")
//        +e('item', {m: 'actions'})
//            +b('button', {e: '&'})(type="submit" ): span Отправить заявку
//
//// Запустить трафик
//+b('modal', {m: 'traffic'}, 'section')(id="traffic" class="mfp-hide")
//    +e('heading', {}, 'h2') Оставьте заявку
//    +e('dscr', {}, 'p') и мы запустим трафик на сайт
//    +b('form', {e: 'modal'})(action="/thank.php" method="POST")
//        +e('item')
//            +e('label')(for="f7-phone") Телефон
//            +e('input', {}, 'input')(type="tel" id="f7-phone" name="phone")
//        +e('item')
//            +e('label')(for="f7-email") E-mail
//            +e('input', {}, 'input')(type="mail" id="f7-email" name="email")
//        +e('item', {m: 'actions'})
//            +b('button', {e: '&'})(type="submit" ): span Отправить заявку
//
//// Аналитика
//+b('modal', {m: 'analytics'}, 'section')(id="analytics" class="mfp-hide")
//    +e('heading', {}, 'h2') Оставьте заявку
//    +e('dscr', {}, 'p') и мы запустим трафик на сайт
//    +b('form', {e: 'modal'})(action="/thank.php" method="POST")
//        +e('item')
//            +e('label')(for="f8-phone") Телефон
//            +e('input', {}, 'input')(type="tel" id="f8-phone" name="phone")
//        +e('item')
//            +e('label')(for="f8-email") E-mail
//            +e('input', {}, 'input')(type="mail" id="f8-email" name="email")
//        +e('item', {m: 'actions'})
//            +b('button', {e: '&'})(type="submit" ): span Отправить заявку
//
//// Отдел продаж, удвоить прибыль
//+b('modal', {m: 'double-benefit'}, 'section')(id="double-benefit" class="mfp-hide")
//    +e('heading', {}, 'h2') Оставьте заявку
//    +e('dscr', {}, 'p') и мы поможем удвоить вашу прибыль
//    +b('form', {e: 'modal'})(action="/thank.php" method="POST")
//        +e('item')
//            +e('label')(for="f9-phone") Телефон
//            +e('input', {}, 'input')(type="tel" id="f9-phone" name="phone")
//        +e('item')
//            +e('label')(for="f9-email") E-mail
//            +e('input', {}, 'input')(type="mail" id="f9-email" name="email")
//        +e('item', {m: 'actions'})
//            +b('button', {e: '&'})(type="submit" ): span Отправить заявку
//
//// Лояльность
//+b('modal', {m: 'loyalty'}, 'section')(id="loyalty" class="mfp-hide")
//    +e('heading', {}, 'h2') Оставьте заявку
//    +e('dscr', {}, 'p') и мы повысим лояльность клиентов к вашему бизнесу
//    +b('form', {e: 'modal'})(action="/thank.php" method="POST")
//        +e('item')
//            +e('label')(for="f10-phone") Телефон
//            +e('input', {}, 'input')(type="tel" id="f10-phone" name="phone")
//        +e('item')
//            +e('label')(for="f10-email") E-mail
//            +e('input', {}, 'input')(type="mail" id="f10-email" name="email")
//        +e('item', {m: 'actions'})
//            +b('button', {e: '&'})(type="submit" ): span Отправить заявку