for i in team
    +b('modal', {m: i.id+'.teammate'}, 'section')(id=i.id class="mfp-hide")
        +b('teammate', {e: '&'})
            +e('row')
                +e('image'): img(src=i.image alt=i.name)
                +e('textOnImage')
                    +e('name') !{i.name}
                    +e('post') !{i.post}
            +e('body') !{i.body}


