extend ../layout/layout.pug

block vars
    - var body_classes = ['front','no-sidebar'];
    - var title = 'Серьезная упаковка бизнеса'

block content
    // titer
    +b('titer', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('upper')
                +e('logo'): img(src="./files/logo.png")
                +e('slogan') Серьезная упаковка бизнеса
                +e('call')
                    +phone
                    +e('orderCall')(href="") Заказать звонок
            +e('heading', {e: 'block'}, 'h1')(class="hidden")
                | Профессиональная 
                +b('imgReplace'): +e('inner') упаковка
                em для серьезных бизнесов
            +b('button', {e: '&'})(href="#busi-ness-packing" data-popup class="hidden"): span Упаковать свой бизнес
            
    // marselSay
    +b('marselSay', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('image'): img(src="./files/persons/marsel-with-bg.png")
            +b('blockquote', {e: '&'}, 'blockquote')
                +e('num') 67%
                +e('body') компаний в России и СНГ упакованы плохо, еще 7% ужасно, а 15% не знают, что упаковка вообще нужна
                +e('name') Марсель Ахмедов
                +e('post') генеральный директор B2B-marketing
    // goodsSearch
    +b('goodsSearch', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('heading', {e: 'block'}, 'h2') Допустим, ваш товар или услугу
                em  ищут 1000 человек в месяц
            +e('content')
                +e('main')
                    +e('list', {}, 'ul')
                        for i in goodsSearch
                            +e('item')
                                +e('image', {}, 'div'): img(src=i.image)
                                +e('body', {}, 'div') !{i.body}
                    +e('bottomText')
                        +e('num') -500%
                        +e('text') По нашей статистике, компании без упаковки теряют 200-500% прибыли
                +b('calculator', {e: '&'})
                    +e('title', {}, 'h3') А сколько уже потеряли вы в деньгах?
                    +e('subtitle', {}, 'p') Давайте рассчитаем вместе
                    +e('item')
                        +e('label') Клиентов в месяц:
                        +e('value', {m: 'clients'}, 'span') 30
                        +e('range', {m: 'clients'})
                    +e('item')
                        +e('label') Средний чек:
                        +e('value', {m: 'bill'}, 'span') 65 000 руб.
                        +e('range', {m: 'bill'})
                    +e('item')
                        +e('label') Период:
                        +e('value', {m: 'period'}, 'span') 4 месяца
                        +e('range', {m: 'period'})
                    +e('footer') Вы теряете каждый месяц
                        em
                            +e('result') 1000
                            span рублей
                    +b('button', {e: '&'})(href="#benefit-losing" data-popup): span Перестать упускать прибыль
    // seriosPacking
    +b('seriosPacking', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('content')
                +e('heading', {e: 'block'}, 'h2') Что такое серьезная упаковка бизнеса?
                +e('dscr', {e: 'block'}, 'p') Упаковка — это не простое создание картинки или сайта, это создание и внедрение истинного образа компании, после просмотра которого хочется довериться именно Вам.
    // businessBranches
    +b('businessBranches', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('heading', {e: 'block'}, 'h2')
                span.number 10
                |  направлений бизнеса, которым
                em необходима упаковка
            +e('dscr', {e: 'block'}, 'p') Упаковывая данные бизнесы, чистая прибыль компании вырастает минимум в 2 раза
            +e('list', {}, 'ul')
                for i in branches
                    +e('item')
                        +e('image', {}, 'div'): img(src=i.image)
                        +e('body', {}, 'div') !{i.title}
    // sevenStages
    +b('sevenStages', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('heading', {e: 'block'}, 'h2') 7 этапов
                em серъезной упаковки
            +e('content')
                +e('dscr', {e: 'block'}, 'p') Пока конкуренты разрабатывают только «красивые» сайты, мы предлагаем упаковать полностью ваш бренд:
                +e('list', {}, 'ul')
                    for i in sevenStages
                        +e('item')
                            +e('image', {}, 'div'): img(src=i.image)
                            +e('title', {}, 'div') !{i.title}
                +e('text') Сайт в этом объеме занимает лишь самую малую часть и слабо влияет на упаковку в целом.
    // position
    +b('position', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('heading', {e: 'block'}, 'h2')
                span.num 01
                | Позиционирование
            +e('main')
                +e('whatOffer')
                    +e('subtitle', {}, 'h3') Что и кому вы предлагаете?
                    +e('body')
                        ul
                            li Всё и всем?
                +e('whatAdvantages')
                    +e('subtitle', {}, 'h3') Чем вы лучше другой компании?
                    +e('body')
                        ul
                            li Низкими ценами?
                            li Широким ассортиментом?
                            li Бесплатной консультацией?
                            li Индивидуальным подходом?
            +e('result')
                h3 Поздравляем, у вас нет позиционирования!
                p Как и у 75% бизнесов в России. Вы не можете донести до клиента сильные стороны компании, а он не понимает почему ему стоит к вам обращаться. И если ваш конкурент умеет себя позиционировать, но не имеет даже половины ваших преимуществ, клиент всё равно уйдет к нему, а вы потеряете деньги.
                p: em На этапе <strong>Позиционирования</strong> мы детально погружаемся в ваш бизнес, разбираем его на атомы и собираем в нужном виде. Вскрываем сильные стороны и делаем на них акцент, формируя основу для создания качественного образа.
                +b('button', {e: '&'})(href="#company-positioning" data-popup): span Сформировать позиционирование
            +e('author', {}, 'figure')
                +e('image', {}, 'img')(src="./files/persons/marsel-2.png")
                +e('authorData', {}, 'figcaption')
                    +e('name') Марсель Ахмедов
                    +e('post') Генеральный директор B2B Marketing
    // shell
    +b('shell', {b: 'block'}, 'section')
        +e('inner', {e: 'block', b: 'tabs'})
            +e('tabSide')
                +e('heading', {e: 'block'}, 'h2')
                    span.num 02
                    | Оболочка
                +e('list', {e: 'tabs'})
                    for i in shellTab
                        +e('tab', {p: 'tabs', e: 'shell|' +i.mod, m: i.mod}, 'button') !{i.tabName}
                +b('button', {e: '&'})(href="#shell-packing" data-popup): span Упаковать оболочку
            +e('tabContentSide')
                +e('tabsContent', {e: 'tabs'}, 'ul')
                    for i in shellTab
                        +e('content', {p: 'tabs'})
                            +e('image', {p: 'tabs'}, 'div'): img(src=i.image)
                            +e('title', {p: 'tabs'}, 'div') !{i.title}
                            +e('body', {p: 'tabs'}, 'div') !{i.body}
                +e('row')
                    +e('nav', {e: 'tabs'})
                        +e('button', {m: 'prev', p: 'tabs'}, 'button') ←
                        +e('button', {m: 'next', p: 'tabs'}, 'button') Следующий инструмент →
                    +e('counter', {p: 'tabs'})
                        +e('current', {p: 'tabs'}) 1
                        | /
                        +e('total', {p: 'tabs'}) 8
    // techOpti
    +b('techOpti', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('heading', {e: 'block'}, 'h2')
                span.num 03
                | Техническая оптимизация сайта
            +e('dscr', {e: 'block'}, 'p') Сайт – основной и самый сложный инструмент онлайн продаж
            +e('row')
                +b('blockquote', {e: '&', m: 'dima'}, 'blockquote')
                    +e('title') Одна ошибка и вы потеряли нового клиента
                    +e('body') Недостаточно просто сделать сайт и сделать его с правильными триггерами. Необходимо проводить техническую оптимизацию, которая позволит сайту быть эффективнее
                    +e('name') Дмитрий Егоров
                    +e('post') Руководитель отдела разработки
                +e('photo'): img(src="./files/persons/dmitriy.png")
            +e('gun'): img(src="./files/wood-gun.png")
            +e('list', {}, 'ul')
                for i in techOpti
                    +e('item')
                        +e('image', {}, 'div'): img(src=i.image)
                        +e('title', {}, 'div') !{i.title}
                        +e('body', {}, 'div') !{i.body}
            +b('button', {e: '&'})(href="#site-tuning" data-popup): span Прокачать сайт
    // clientStream
    +b('clientStream', {b: 'block'}, 'section')(class="nojs")
        +e('inner', {e: 'block'})
            +e('heading', {e: 'block'}, 'h2')
                span.num 04
                | Поток клиентов
            +e('list', {}, 'ul')
                +e('item')
                    +e('content', {}, 'div')
                        +e('title', {}, 'h3') Настройка рекламы
                        +e('body', {}, 'div') Вы уверены, что Вам качественно настраивают рекламу? Вы уверены, что задействованы все источники трафика? Как правило в 68% случаях мы снижаем стоимость лида (потенциального клиента) в 2-3 раза.
                        +e('advCompanies', {}, 'div'): img(src="./files/adv-companies.png")
                +e('item')
                    +e('content', {}, 'div')
                        +e('title', {}, 'h3') SEO продвижение
                        +e('body', {}, 'div') Вы уверены, что не платите за воздух или продвижение по низкочастотным запросам, которые не приносят клиентов? Мы предлагаем современные эффективные стратегии продвижения с понятным результатом. Нам важно, чтобы у вас был поток клиентов.
                +e('item')
                    +e('content', {}, 'div')
                        +e('title', {}, 'h3') Автоворонки
                        +e('body', {}, 'div') Вы собираете электронную почту, но не знаете, что с ней делать? Вы рассылаете письма, но не получаете даже обратной связи? Поздравляем, вы тратите время зря и понапрасну выжигаете собранную с трудом базу клиентов. Мы продумаем стратегию эффективных email рассылок, которые заинтересуют ваших клиентов и увеличат вашу прибыль.
            +b('button', {e: '&'})(href="#traffic" data-popup): span Запустить трафик
    // analytics
    +b('analytics', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('heading', {e: 'block'}, 'h2')
                span.num 05
                | Аналитика
            +e('list', {}, 'ul')
                +e('item', 'timeManagement')
                    +e('title', {}, 'h3') Time management
                    +e('body', {}, 'p') Ваши сотрудники сидят в социальных сетях или смотрят видео, вместо того, чтобы работать, продавать и общаться с клиентами? Внедрим программы управления временем для получения ежедневных отчетов о деятельности каждого сотрудника.
                +e('item', 'crm')
                    +e('title', {}, 'h3') CRM
                    +e('body', {}, 'p') Вы уверены, что менеджеры работают на 100%? Внедрим CRM систему в ваш бизнес, для полного контроля за эффективностью работы сотрудников
                +e('item', 'roistat')
                    +e('title', {}, 'h3') ROIstat – аналитика
                    +e('body', {}, 'p') Мы узнаем где или кто тратит ваши деньги впустую и снизим издержки
            +b('button', {e: '&'})(href="#analytics" data-popup): span Анализировать показатели
    // salesDepartment
    +b('salesDepartment', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('heading', {e: 'block'}, 'h2')
                span.num 06
                | Отдел продаж
            +e('dscr', {e: 'block'}, 'p') Повышение эффективности отдела продаж в 4 раза
            +e('body')
                h3 Что мы делаем?
                ul
                    li Формируем отдел продаж по холодным звонкам
                    li Формируем отдел продаж по входящим заявкам
                h3 Как мы добиваемся шокирующей эффективности?
                ul
                    li Разрабатываем правильную мотивации персонала
                    li Разрабатываем эффективную систему отчетности
                    li Разрабатываем скрипты, регламенты продаж, коммерческие предложения
                    li Разрабатываем системы управления продажами
                    li Обучаем персонал искусству эффективных продаж
                    li Обучаем грамотному управлению персоналом
            +b('button', {e: '&'})(href="#double-benefit" data-popup): span Удвоить прибыль
            +e('author', {}, 'figure')
                +e('authorData', {}, 'figcaption')
                    +e('name') Тимур Вавилов
                    +e('post') Стратегический партнер. Эксперт в  создании отделов продаж.
                +e('image', {}, 'img')(src="./files/persons/timur.png")
    // loyalty
    +b('loyalty', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('main')
                +e('heading', {e: 'block'}, 'h2')
                    span.num 07
                    | Лояльность
                +e('dscr', {e: 'block'}, 'p') Разработаем программу доверительного маркетинга — документ с описанием правил построения долговременных отношений с покупателями, описание необходимых мероприятий и план их реализации
                +b('button', {e: '&'})(href="#loyalty" data-popup): span Возвращать клиентов
            +e('list', {}, 'ul')
                +e('item', 'bow') Когда совершать повторный звонок?
                +e('item', 'unicorn') Система бонусов и подарков
                +e('item', 'castle') Поздравления клиентов со всеми праздниками
    // team
    +b('team', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('heading', {e: 'block'}, 'h2') Команда экспертов
            +e('list', {}, 'ul')
                for i in team
                    +e('item')
                        +e('link')(href="#"+i.id data-popup)
                            +e('image', {}, 'div'): img(src=i.thumbnail)
                            +e('name', {}, 'div') !{i.name}
    // seriously
    +b('seriously', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('heading', {e: 'block'}, 'h2') А теперь серьезно
            +e('dscr', {e: 'block'})
                p Мы уже больше 7 лет на рынке и сделали больше 530 проектов. В деньгах принесли клиентам более 13 000 000 000 руб. Можем позволить себе креатив, так как на рынке : У всех компаний стандартный подход из шаблонных решений от чего на выходе слабый результат.
                p: em С компанией <span class="dyed">B2B</span> вы получаете продуманный продукт и взрывные <img src="./files/emoji.png" alt="Смайлик, мозги наружу"> результаты
    // cases
    +b('cases', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('header', {}, 'header')
                +e('heading', {e: 'block'}, 'h2') Наши кейсы
                +e('arrows', {e: 'slider'})
                    +e('arrow', {m: 'prev', p: 'slider'}, 'button') Назад
                    +e('arrow', {m: 'next', p: 'slider'}, 'button') Вперед
        +b('slider', {e: '&'})
            +e('listTop')
                for i, index in slider
                    +e('item')(href="#case" data-popup-case)
                        +e('text', {m: i.dark ? 'dark' : ''}, 'div')
                            +e('title', {}, 'div') !{i.title}
                            +e('dscr', {}, 'div') !{i.descr}
                        +e('image', {}, 'div'): img(src=i.image)
            +e('listBottom')
                for i, index in slider.reverse()
                    +e('item')(href="#case" data-popup-case)
                        +e('text', {m: i.dark ? 'dark' : ''}, 'div')
                            +e('title', {}, 'div') !{i.title}
                            +e('dscr', {}, 'div') !{i.descr}
                        +e('image', {}, 'div'): img(src=i.image)
    // questionsList
    +b('questionsList', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('heading', {e: 'block'}, 'h2') Скачайте перечень вопросов
                em для самостоятельной упаковки бизнеса
            +e('form')
                include ../components/form

    // footer
    +b('footer', {b: 'block'}, 'section')
        +e('inner', {e: 'block'})
            +e('copyright') © 2018 н.э., B2B
            +e('policy')(href="/policy.pdf") Политика конфиденциальности
            +e('phone')
                +phone

block under-footer
    include ../components/modals
    include ../components/team-modal
    include ../components/case

